# TEST / SQLite

In [1]:
import numpy as np
import pandas as pd
import sqlite3
import timeit
import datetime as dt

# Get data

In [2]:
URLname = ""
Filename = ""

In [3]:
#import requests
#r = requests.get(url=URLname)
#data = r.json()

In [4]:
df = pd.read_csv(Filename)
print("df.shape = ", df.shape)
df.head()

/Users/mycomputer/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

df.shape =  (8726014, 19)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,NaN,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,NaN,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21T00:00:00,2055.0,NaN,NaN,CA,201503.0,NaN,NaN,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
3,1104820732,2015-12-26T00:00:00,1515.0,NaN,NaN,CA,NaN,NaN,NaN,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0

### Replace spaces with "_" in pandas dataframe

In [5]:
# Original names
list_cols = list(df.columns)
#list_cols

In [6]:
# Names with spaces replaced by underscores
list_cols_new = []
for c in df.columns:
    c1 = c.replace(" ","_")
    list_cols_new.append(c1)

#list_cols_new

In [7]:
# Create before/after dictionary.  (Simpler to include ones that don't change)
d_change = {}
for c1,c2 in zip(list_cols,list_cols_new):
    d_change[c1] = c2
#d_change

In [8]:
# Now make the change
df.rename( columns=d_change, inplace=True)

In [9]:
# The new names are...
df.columns

Index(['Ticket_number', 'Issue_Date', 'Issue_time', 'Meter_Id', 'Marked_Time',
       'RP_State_Plate', 'Plate_Expiry_Date', 'VIN', 'Make', 'Body_Style',
       'Color', 'Location', 'Route', 'Agency', 'Violation_code',
       'Violation_Description', 'Fine_amount', 'Latitude', 'Longitude'],
      dtype='object')

# SQLite

In [10]:
con = sqlite3.connect("test.db")
cur = con.cursor()

In [11]:
# If I've already created this table (while developing)...
cur.execute("DROP TABLE IF EXISTS mytest")

## Create table from pandas dataframe

In [12]:
# Create table from pandas dataframe
df.to_sql("mytest",con,index=False)

In [13]:
# list tables in database
#for row in cur.execute("SELECT name FROM sqlite_master"):
#    print(row)

In [14]:
# List tables
#for row in cur.execute("SELECT name FROM PRAGMA_TABLE_INFO('mytest')"):
#    print(row)

In [15]:
# Just checking it works...
#for row in cur.execute("SELECT Make,Agency,Violation_code FROM mytest LIMIT 20"):
#    print(row)

# Problem (a) ----------------------------------------------------

### SQLite

In [16]:
time1 = timeit.default_timer()

for row in cur.execute("SELECT Make, COUNT(*) AS cnt FROM mytest GROUP BY Make HAVING Make IS NOT NULL ORDER BY cnt DESC LIMIT 25"):
    print(row)
    
time2 = timeit.default_timer()
print("time = ", (time2 - time1) )

('TOYT', 721411)
('HOND', 491961)
('FORD', 382695)
('NISS', 311324)
('CHEV', 297076)
('BMW', 199221)
('MERZ', 177307)
('VOLK', 149501)
('HYUN', 133864)
('DODG', 127764)
('LEXS', 124508)
('KIA', 101746)
('JEEP', 100909)
('AUDI', 84229)
('MAZD', 79853)
('OTHR', 72411)
('GMC', 62391)
('CHRY', 57317)
('INFI', 56809)
('ACUR', 52703)
('SUBA', 46898)
('VOLV', 42330)
('TOYO', 40064)
('MITS', 37842)
('CADI', 34080)
time =  2.962376507028239

### Pandas

In [17]:
# Pandas

time1 = timeit.default_timer()

# Include Make==null
#df_top25 = pd.DataFrame(df['Make'].value_counts(dropna=False)).head(25)
#df_top25

# Exclude Make==null
df_top25 = pd.DataFrame(df['Make'].value_counts()).head(25)
print(df_top25)

time2 = timeit.default_timer()
print("time = ", (time2 - time1) )

        Make
TOYT  721411
HOND  491961
FORD  382695
NISS  311324
CHEV  297076
BMW   199221
MERZ  177307
VOLK  149501
HYUN  133864
DODG  127764
LEXS  124508
KIA   101746
JEEP  100909
AUDI   84229
MAZD   79853
OTHR   72411
GMC    62391
CHRY   57317
INFI   56809
ACUR   52703
SUBA   46898
VOLV   42330
TOYO   40064
MITS   37842
CADI   34080
time =  0.7391566729929764

### Results:  SQLite 2.96s  /  Pandas 0.73s

# Problem (b) ----------------------------------------------------

### SQLite

In [18]:
time1 = timeit.default_timer()

# This is the count for each Make/Color combo
#for row in cur.execute("SELECT Make, Color, COUNT(*) AS cnt FROM mytest GROUP BY Make, Color HAVING Make IS NOT NULL ORDER BY Make,Color,cnt DESC"):
#    print(row)

# This is the Make/Color/count combo having the maximum count for that Make (ie, the most popular Color for that Make)
for row in cur.execute("SELECT Make,Color,MAX(cnt) FROM (SELECT Make, Color, COUNT(*) AS cnt FROM mytest GROUP BY Make, Color HAVING Make IS NOT NULL) GROUP BY Make"):
    print(row)

time2 = timeit.default_timer()
print("\ntime = ", (time2 - time1) )

('AAUD', 'BK', 1)
('AAVH', 'WH', 2)
('ABAR', 'BK', 3)
('ABC', 'WH', 3)
('ABRI', 'GY', 1)
('ACC', 'GY', 1)
('ACCR', 'GR', 1)
('ACCU', 'BK', 3)
('ACDI', 'BK', 1)
('ACG', 'WH', 2)
('ACOR', 'GY', 1)
('ACRA', 'BK', 4)
('ACRU', 'BK', 1)
('ACU', 'BK', 10)
('ACUA', 'SI', 1)
('ACUR', 'BK', 13041)
('ADIA', 'WH', 1)
('ADVE', 'BL', 1)
('AERO', 'WH', 1)
('AFLA', 'RE', 1)
('AIRB', 'WH', 1)
('AIRE', 'TA', 4)
('AIRS', 'WH', 2)
('AIRX', 'BE', 1)
('AJAX', 'BL', 8)
('ALAX', 'GY', 1)
('ALEG', 'WH', 7)
('ALER', 'WH', 2)
('ALFA', 'BK', 202)
('ALGR', 'WH', 2)
('ALJD', 'WH', 1)
('ALJO', 'WH', 2)
('ALLD', 'BK', 1)
('ALLE', 'TA', 4)
('ALLG', 'BE', 1)
('ALLY', 'BK', 2)
('ALPE', 'WH', 1)
('ALPH', 'GY', 2)
('ALTI', 'GR', 1)
('ALTM', 'SI', 1)
('AM', 'GY', 1)
('AMC', 'WH', 4)
('AMCA', 'GR', 1)
('AMCE', 'VA', 1)
('AMCL', 'WH', 6)
('AMER', 'BK', 6)
('ANDE', 'BE', 1)
('APAC', 'WH', 1)
('APCH', 'BK', 2)
('APOL', 'WH', 3)
('APPL', 'WH', 1)
('APPO', 'WH', 1)
('APR', 'RE', 1)
('APRI', 'YE', 1)
('APRL', 'BK', 1)
('AREB', 'TA', 1)
('ARGO', 'WH', 1)
('ARGS', 'WH', 1)
('ARIS', 'WH', 5)
('ARMO', 'GR', 1)
('ARMR', 'BK', 1)
('AROS', 'GY', 2)
('ARRO', 'WH', 3)
('ARST', 'BL', 1)
('ARTS', 'WH', 1)
('ASTN', 'SI', 1)
('ASTO', 'BK', 187)
('AUBI', 'WH', 1)
('AUBU', 'BK', 54)
('AUCA', 'GY', 1)
('AUCR', 'BL', 1)
('AUD', 'BK', 4)
('AUDI', 'BK', 33435)
('AUHE', 'BK', 23)
('AURA', 'SI', 2)
('AURO', 'SI', 1)
('AUST', 'BK', 2)
('AUTO', 'GY', 1)
('AVAL', 'WH', 1)
('AVD', 'BK', 1)
('AVON', 'BU', 1)
('AVTI', 'BN', 2)
('AXES', 'YE', 1)
('AZT', 'WH', 1)
('AZTC', 'BL', 1)
('BAJA', 'WH', 1)
('BARO', 'WH', 1)
('BAYL', 'WH', 2)
('BEAU', 'GY', 1)
('BEAV', 'WH', 3)
('BEAW', 'BR', 1)
('BEAZ', 'GY', 1)
('BEN', 'BK', 1)
('BENE', 'WH', 1)
('BENT', 'BK', 778)
('BENZ', 'BK', 403)
('BERI', 'BK', 1)
('BERT', 'BK', 2)
('BEVR', 'WH', 2)
('BIGS', 'WH', 1)
('BIGT', 'BK', 2)
('BLBR', 'OR', 1)
('BLNK', 'YE', 1)
('BLSH', 'BK', 1)
('BLUB', 'BE', 1)
('BLUE', 'YE', 2)
('BM', 'BL', 1)
('BMER', 'GY', 1)
('BML', 'GY', 1)
('BMS', 'SI', 2)
('BMV', 'BK', 11)
('BMW', 'BK', 67814)
('BNDE', 'TA', 1)
('BNTL', 'BK', 1)
('BNZ', 'BK', 2)
('BOB', 'WH', 1)
('BOND', 'BK', 1)
('BONN', 'BK', 1)
('BOON', 'TA', 2)
('BORE', 'RE', 1)
('BOUN', 'TA', 17)
('BOYD', 'PU', 1)
('BRAV', 'WH', 2)
('BRGH', 'WH', 1)
('BRHA', 'TA', 10)
('BRHM', 'TA', 1)
('BRID', 'GY', 1)
('BRIN', 'BK', 1)
('BRNA', 'BE', 1)
('BRO', 'WH', 1)
('BROM', 'BR', 1)
('BROU', 'TA', 1)
('BRUG', 'WH', 1)
('BRYN', 'BK', 1)
('BTM', 'BR', 2)
('BTX', 'BK', 1)
('BUDD', 'BK', 1)
('BUEL', 'BK', 1)
('BUGA', 'BK', 30)
('BUIC', 'WT', 4295)
('BUICK', 'BK', 1)
('BUS', 'WH', 3)
('BUSH', 'BK', 2)
('BUTL', 'BK', 1)
('BW', 'GY', 1)
('BWM', 'BK', 1)
('BYD', 'BK', 2)
('CABA', 'WH', 5)
('CAD', 'BK', 6)
('CADI', 'BK', 12349)
('CADY', 'WH', 1)
('CAMR', 'WH', 1)
('CANA', 'OR', 1)
('CAPR', 'WH', 1)
('CARG', 'WH', 1)
('CARI', 'WH', 1)
('CARO', 'GY', 1)
('CARR', 'WH', 4)
('CARS', 'BK', 6)
('CATE', 'YE', 1)
('CAVA', 'GY', 1)
('CAVE', 'BK', 1)
('CAVL', 'TA', 2)
('CBO', 'BK', 1)
('CCH', 'WH', 1)
('CCHM', 'TA', 6)
('CEHM', 'WH', 1)
('CHA', 'BL', 1)
('CHAM', 'WH', 4)
('CHAN', None, 1)
('CHAP', 'BR', 1)
('CHAR', 'BK', 1)
('CHAS', 'BK', 1)
('CHCM', 'TA', 1)
('CHEC', 'WT', 248)
('CHEE', 'BL', 7)
('CHEF', 'RE', 1)
('CHEL', 'GY', 1)
('CHER', 'WH', 4)
('CHET', 'BK', 1)
('CHEV', 'WT', 78792)
('CHIE', 'BK', 1)
('CHIM', 'PU', 1)
('CHIN', 'TA', 3)
('CHLE', 'WH', 1)
('CHLG', 'WH', 1)
('CHME', 'WH', 1)
('CHMN', 'TA', 1)
('CHR', 'GY', 3)
('CHRI', 'SI', 2)
('CHRL', 'BK', 1)
('CHRS', 'BK', 4)
('CHRY', 'GY', 10740)
('CHSY', 'RE', 1)
('CHTA', 'BL', 1)
('CHTH', 'BK', 3)
('CHY', 'BL', 1)
('CHYC', 'WH', 1)
('CHYL', 'GY', 1)
('CHYR', 'WH', 1)
('CHYS', 'BK', 1)
('CIMC', 'BL', 74)
('CIML', 'GY', 1)
('CIMO', 'BL', 1)
('CINC', 'GY', 1)
('CIRC', 'WH', 1)
('CITR', 'WT', 6)
('CLMN', 'WH', 1)
('CMAK', 'TA', 1)
('CMAX', 'WH', 1)
('CMDR', 'WH', 1)
('CMIC', 'BL', 1)
('CMPI', 'BK', 1)
('CMPP', 'TA', 1)
('CMW', 'RE', 2)
('CNCA', 'WH', 3)
('CNCM', 'WH', 2)
('CNP', 'WH', 1)
('CNQS', 'WH', 4)
('COAC', 'WH', 15)
('COCH', 'WH', 1)
('COHN', 'YE', 1)
('COLE', 'WH', 3)
('COLM', 'WH', 3)
('COLO', 'BL', 1)
('COLU', 'BL', 1)
('COMD', 'WH', 4)
('COME', 'BL', 1)
('COMM', 'WH', 5)
('COMO', 'WH', 1)
('COMP', 'WH', 2)
('CONQ', 'TA', 1)
('CONT', 'BK', 2)
('COOP', 'GY', 6)
('COPP', 'RE', 1)
('CORN', 'WH', 1)
('CORS', 'GY', 1)
('CORT', 'WH', 1)
('CORV', 'RE', 3)
('COSC', 'BK', 1)
('COTT', 'BK', 1)
('COTZ', 'BK', 1)
('COVR', 'BK', 1)
('COZY', 'GY', 1)
('CPS', 'BL', 1)
('CRDA', 'WH', 2)
('CRES', 'WH', 1)
('CRMS', 'BR', 1)
('CROS', 'BR', 1)
('CROV', 'GY', 1)
('CROW', 'YE', 2)
('CRSL', 'BL', 1)
('CRSO', 'WH', 1)
('CRU', 'TA', 1)
('CRUI', 'WH', 4)
('CRUM', 'BR', 1)
('CRUS', 'WH', 3)
('CRUZ', 'TA', 1)
('CRVT', 'BK', 1)
('CRY', 'SI', 2)
('CRYL', 'BL', 1)
('CRYR', 'BL', 1)
('CRYS', 'BK', 11)
('CUAL', 'YE', 1)
('CUSH', 'BL', 7)
('CUST', None, 1)
('DAE', 'BL', 1)
('DAEW', 'WT', 124)
('DAIH', 'PR', 22)
('DALN', 'WH', 1)
('DAMN', 'TA', 1)
('DAMO', 'WH', 2)
('DANE', 'WH', 1)
('DAT', 'BL', 1)
('DATS', 'BL', 109)
('DAVI', 'BK', 1)
('DAWE', 'GY', 1)
('DAWU', 'BL', 1)
('DAYT', 'GR', 3)
('DCHM', 'WH', 1)
('DCMH', 'WH', 1)
('DDOG', 'GY', 1)
('DELT', 'WH', 1)
('DGFN', 'WH', 1)
('DIAD', 'BR', 1)
('DIAM', 'WH', 4)
('DIPL', 'WH', 4)
('DIRE', 'OR', 1)
('DLPH', 'TA', 2)
('DMW', 'WH', 1)
('DODG', 'WT', 32444)
('DOLI', 'WH', 1)
('DOLP', 'WH', 5)
('DOOH', 'BK', 1)
('DORS', 'WH', 4)
('DOT', 'RE', 1)
('DOVE', 'YE', 1)
('DPLM', 'WH', 2)
('DRAG', 'WH', 1)
('DRLN', 'WH', 1)
('DRME', 'TA', 2)
('DRMR', 'WH', 2)
('DROS', 'BK', 1)
('DTAM', 'BE', 1)
('DUCA', 'BK', 9)
('DUES', 'BK', 9)
('DUHN', 'GY', 2)
('DUNH', 'BK', 1)
('DUTC', 'GO', 1)
('DUTS', 'WH', 1)
('DYNA', 'GR', 1)
('EAGL', 'BK', 2)
('EAST', 'WH', 1)
('ECLP', 'WH', 1)
('EFAB', 'BK', 1)
('EGIL', 'WH', 2)
('EGLE', 'WT', 17)
('EJET', 'GY', 1)
('EL', 'BL', 1)
('EL D', 'GR', 1)
('ELAN', 'BK', 1)
('ELD', 'RE', 2)
('ELDO', 'WH', 15)
('ELDR', 'WH', 6)
('ELO', 'WH', 1)
('ELX', 'GY', 1)
('ENCO', 'WH', 1)
('ENTE', 'BR', 1)
('ENTO', 'WH', 1)
('ESCA', 'BK', 1)
('ESCO', 'BL', 1)
('EST', 'WH', 1)
('ESTA', 'WH', 23)
('ESTB', 'WH', 2)
('EURO', 'BL', 1)
('EXCE', 'WH', 3)
('EXEC', 'WH', 6)
('EXEL', 'WH', 2)
('EXEP', 'WH', 1)
('EXER', 'WH', 1)
('EXIS', 'WH', 1)
('EXP', 'BE', 1)
('EXPC', 'WH', 3)
('EXPE', 'WH', 1)
('EXPL', 'WH', 1)
('EXRE', 'WH', 4)
('EZLO', 'SI', 1)
('FABR', 'WH', 1)
('FAIT', 'RE', 1)
('FAMW', 'GY', 5)
('FBAL', 'WH', 9)
('FBAZ', 'WH', 1)
('FEDE', 'WH', 2)
('FEIN', 'WH', 1)
('FENA', 'SI', 1)
('FER', 'RE', 2)
('FERA', 'WH', 1)
('FERR', 'RD', 164)
('FHN', 'TA', 1)
('FHRG', 'WH', 1)
('FHRT', 'WH', 4)
('FHWA', 'BK', 1)
('FIA', 'GY', 1)
('FIAT', 'WT', 3531)
('FIEL', 'WH', 3)
('FIRE', 'TA', 1)
('FISK', 'BK', 1)
('FLAI', 'WH', 12)
('FLAR', 'WH', 2)
('FLAT', 'TA', 2)
('FLAZ', 'TA', 2)
('FLDS', 'WH', 6)
('FLEE', 'WH', 19)
('FLET', 'WH', 3)
('FLEX', 'BK', 5)
('FLGH', 'WH', 1)
('FLHT', 'WH', 1)
('FLN', 'BL', 1)
('FLTW', 'TA', 3)
('FLXI', 'BK', 1)
('FMC', 'YE', 1)
('FMCS', 'BK', 1)
('FMT', 'WH', 1)
('FONT', 'BK', 2)
('FORD', 'WT', 112313)
('FORE', 'BE', 1)
('FORM', 'WH', 2)
('FOUR', 'WH', 3)
('FR', 'WH', 1)
('FREG', 'WH', 1)
('FREH', 'GY', 1)
('FREI', 'WH', 82)
('FRET', 'RE', 1)
('FRGH', 'WH', 4)
('FRGT', 'WH', 7)
('FRH', 'WH', 1)
('FRHF', 'BK', 1)
('FRHG', 'WH', 1)
('FRHI', 'WH', 2)
('FRHT', 'WT', 10083)
('FRI', 'BL', 1)
('FRIE', 'RE', 1)
('FRIG', 'WH', 11)
('FRIT', 'OR', 1)
('FRKT', 'RE', 1)
('FRL', 'BU', 1)
('FRLI', 'WH', 9)
('FRLN', 'WH', 16)
('FRLR', 'WH', 1)
('FRLT', 'YE', 1)
('FRNT', 'TA', 1)
('FRON', 'WH', 1)
('FRST', 'WH', 1)
('FRT', 'WH', 3)
('FRTH', 'WH', 1)
('FRTL', 'WH', 28)
('FRUE', 'BK', 4)
('FRUT', 'BK', 1)
('FRWN', 'TA', 1)
('FRWS', 'BR', 1)
('FSFA', 'WH', 3)
('FSKR', 'BK', 19)
('FSTA', 'WH', 4)
('FSTR', 'TA', 1)
('FTLN', 'WH', 1)
('FTWD', 'WH', 1)
('FUSO', 'WH', 9)
('GALA', 'RE', 1)
('GAR', 'WH', 1)
('GARB', 'WH', 1)
('GBCA', 'TA', 2)
('GCHE', 'BU', 1)
('GD', 'WH', 10)
('GDAN', 'WH', 1)
('GEM', 'WH', 2)
('GEN', 'BK', 1)
('GENE', 'WH', 5)
('GENS', 'BK', 1)
('GENU', 'GR', 2)
('GEO', 'WT', 363)
('GEOB', 'TA', 1)
('GEOR', 'TA', 1)
('GFLC', 'WH', 1)
('GHSL', 'SI', 1)
('GILI', 'WH', 1)
('GILL', 'BL', 4)
('GILU', 'BL', 1)
('GIND', 'BK', 2)
('GINO', 'BL', 1)
('GLAU', 'WH', 1)
('GLAV', 'WH', 1)
('GM', 'GR', 2)
('GMC', 'WT', 21641)
('GMCC', None, 1)
('GMG', 'GR', 1)
('GNIN', 'RE', 1)
('GNRL', 'WH', 1)
('GNSS', 'BK', 1)
('GO', 'WH', 1)
('GOLD', 'WH', 1)
('GORD', 'WH', 1)
('GOSH', 'WH', 3)
('GRAM', 'BR', 1)
('GRAN', 'GY', 3)
('GRDN', 'WH', 1)
('GREA', 'WH', 12)
('GRHD', 'WH', 1)
('GRND', 'BK', 1)
('GRNV', 'WH', 1)
('GROS', 'BK', 1)
('GRSH', 'BE', 1)
('GRU', 'YE', 1)
('GRUM', 'BN', 16269)
('GRY', 'BL', 1)
('GSCR', 'BL', 1)
('GSX', 'BK', 1)
('GT', 'BL', 1)
('GTDN', 'WH', 1)
('GTO', 'RE', 2)
('GULF', 'TA', 1)
('GUZZ', 'BK', 1)
('GYPS', 'WH', 3)
('HA', 'BK', 1)
('HAMD', 'WH', 1)
('HAMM', 'GY', 1)
('HAN', 'RE', 1)
('HARL', 'BK', 22)
('HARY', 'BK', 1)
('HAUN', 'SI', 1)
('HAWK', 'SI', 1)
('HD', 'BK', 1453)
('HDY', 'GR', 1)
('HEM', 'BK', 1)
('HERC', 'BL', 2)
('HERI', 'GR', 1)
('HIND', 'BK', 1)
('HINO', 'WH', 73)
('HIR', 'BL', 1)
('HIUC', 'WH', 1)
('HIVC', 'WH', 1)
('HMR', 'GY', 1)
('HNAC', None, 1)
('HNDY', 'BK', 2)
('HNO', 'WT', 1871)
('HOLR', 'GY', 2)
('HON', 'GY', 1)
('HOND', 'GY', 116566)
('HONDA', 'GY', 2)
('HONE', 'WH', 4)
('HONI', 'SI', 1)
('HORN', 'WH', 2)
('HORT', 'BK', 1)
('HOU', 'GY', 1)
('HPA', 'BK', 2)
('HPAM', 'BK', 1)
('HPMN', 'BK', 1)
('HRI', 'BK', 12)
('HRIC', 'WH', 6)
('HRII', 'BK', 1)
('HRLY', 'BK', 14)
('HRMB', 'WH', 1)
('HRTL', 'BK', 1)
('HSCR', 'WH', 12)
('HT', 'WH', 1)
('HTLD', 'WH', 1)
('HTON', 'RE', 1)
('HUAN', 'BK', 1)
('HUDI', 'SI', 1)
('HUDY', 'BK', 1)
('HUES', 'TA', 1)
('HUIN', 'BK', 1)
('HUM', 'BK', 3)
('HUMM', 'BK', 746)
('HUMR', 'YE', 2)
('HUN', 'BL', 1)
('HUND', 'BL', 14)
('HUNT', 'WH', 4)
('HUNY', 'RE', 2)
('HUY', 'RE', 1)
('HUYD', 'BK', 1)
('HUYN', 'BK', 7)
('HVES', 'WH', 6)
('HVST', 'WH', 2)
('HWND', 'BK', 1)
('HY', 'BK', 1)
('HYD', 'SI', 2)
('HYDA', 'BL', 1)
('HYDI', 'SI', 3)
('HYDN', None, 1)
('HYDU', 'GY', 1)
('HYDY', 'TA', 1)
('HYFR', 'RE', 1)
('HYLI', 'WH', 1)
('HYN', 'BK', 5)
('HYND', 'WH', 22)
('HYNI', 'BK', 1)
('HYNU', 'SI', 1)
('HYOS', 'BK', 1)
('HYTO', 'OR', 1)
('HYTR', 'BL', 12)
('HYU', 'WH', 9)
('HYUA', 'WH', 1)
('HYUD', 'BL', 2)
('HYUN', 'GY', 25995)
('IDBI', 'BK', 1)
('IDEA', 'WH', 1)
('IFIN', 'BK', 1)
('IMPA', 'BR', 1)
('IMPR', 'BK', 1)
('IMT', 'BK', 1)
('IND', 'BK', 72)
('INF', 'GY', 38)
('INFI', 'BK', 15410)
('INFN', 'BK', 1)
('INFT', 'BL', 1)
('INFY', 'GY', 1)
('INI', 'WH', 1)
('INIF', 'BK', 1)
('INNI', 'RE', 1)
('INRI', 'BK', 1)
('INST', 'WH', 1)
('INT', 'WH', 11)
('INTE', 'WH', 20)
('INTL', 'WT', 4658)
('INTR', 'WH', 5)
('INV', 'MA', 1)
('IRHT', 'WH', 1)
('ISLA', 'GR', 4)
('ISU', 'WT', 5439)
('ISUS', 'WH', 1)
('ISUZ', 'WH', 180)
('ISZU', 'BU', 1)
('ITAC', 'GY', 1)
('ITAL', 'BK', 1)
('ITAS', 'WH', 33)
('ITSC', 'WH', 6)
('IUSZ', 'WH', 1)
('IVEC', 'WT', 2)
('IWVT', 'WH', 1)
('IZU', 'BK', 2)
('IZUS', 'WH', 2)
('IZUZ', 'WH', 3)
('JACU', 'BK', 1)
('JAG', 'BK', 21)
('JAGA', 'BL', 2)
('JAGR', 'BK', 92)
('JAGU', 'BK', 3997)
('JAGY', 'SI', 1)
('JAJU', 'WH', 1)
('JAMB', 'WH', 19)
('JAME', 'TA', 3)
('JANC', 'WH', 1)
('JAQ', 'GO', 1)
('JAYC', 'WH', 12)
('JBBI', 'BK', 1)
('JBRE', 'WH', 1)
('JDB', 'RE', 1)
('JDBE', 'BK', 1)
('JDBT', 'BK', 1)
('JEED', 'BK', 1)
('JEEP', 'BK', 30858)
('JENS', 'BK', 25)
('JETT', 'SI', 6)
('JGR', 'WH', 1)
('JIN', 'BK', 1)
('JIND', 'BK', 13)
('JMBO', 'WH', 1)
('JMBR', 'BR', 1)
('JMST', 'BK', 1)
('JNDD', 'BK', 1)
('JNDO', 'BK', 3)
('JONW', 'BL', 1)
('JOST', 'BK', 1)
('JOUG', 'GY', 1)
('JPEG', 'BK', 2)
('JRLC', 'WH', 1)
('JUAG', 'BL', 1)
('JYAL', 'TA', 1)
('JYNO', 'BL', 1)
('KAI', 'RE', 1)
('KANG', 'WH', 1)
('KARA', 'BK', 1)
('KAW', 'BK', 1)
('KAWA', 'BK', 29)
('KAWI', 'GR', 3)
('KAWK', 'BK', 551)
('KAWZ', 'GY', 1)
('KAYK', 'BK', 1)
('KEN', 'BL', 1)
('KENT', 'WH', 4)
('KENW', 'WH', 19)
('KEST', 'WH', 1)
('KEYE', 'BK', 1)
('KFOR', 'BR', 1)
('KIA', 'BK', 23276)
('KING', 'YE', 2)
('KINR', 'WH', 2)
('KIT', 'WH', 1)
('KL', 'WH', 1)
('KMFR', 'TA', 3)
('KNGS', 'WH', 3)
('KNIG', 'RE', 1)
('KNTY', 'WH', 1)
('KNWT', 'RE', 1)
('KOMF', 'TA', 3)
('KOMI', 'TA', 1)
('KROM', 'BL', 1)
('KRYS', 'WH', 2)
('KSAK', 'GR', 1)
('KTKY', 'GR', 1)
('KTM', 'BK', 2)
('KURG', 'YE', 1)
('KW', 'WT', 822)
('KWAN', 'BK', 1)
('KWRD', 'WH', 1)
('KYK', 'BK', 1)
('KYMC', 'BK', 4)
('KYST', 'WH', 1)
('LADR', 'BK', 2)
('LAMB', 'WH', 6)
('LAMD', 'YE', 1)
('LAMO', 'BK', 92)
('LAN', 'BK', 1)
('LANC', 'BK', 1)
('LAND', 'BK', 68)
('LANR', 'BK', 1)
('LARA', 'BL', 1)
('LARE', 'SI', 1)
('LARP', 'SI', 1)
('LASB', 'CR', 1)
('LASE', 'YE', 1)
('LAYT', 'WH', 4)
('LAZD', 'WH', 1)
('LAZY', 'WH', 6)
('LBAZ', 'BR', 1)
('LBRS', 'WH', 1)
('LCHI', 'WH', 2)
('LCNC', 'BK', 1)
('LCNL', 'BK', 1)
('LDAZ', 'WH', 14)
('LDNR', 'SI', 1)
('LDRR', 'BK', 1)
('LDRV', 'BK', 2)
('LDVR', 'WH', 1)
('LE', 'SI', 1)
('LEGN', 'TA', 1)
('LEGR', 'WH', 1)
('LEIS', 'WH', 1)
('LEPR', 'WH', 1)
('LEX', 'WH', 104)
('LEXE', 'WH', 1)
('LEXI', 'GY', 2)
('LEXS', 'BK', 31175)
('LEXU', 'BK', 1248)
('LEXX', 'GY', 1)
('LGCH', 'WH', 1)
('LIBE', 'BL', 2)
('LIC', 'BK', 2)
('LIEB', 'YE', 1)
('LIMO', 'BK', 1)
('LIN', 'BK', 10)
('LINC', 'BK', 7571)
('LIND', 'WH', 9)
('LINE', 'GR', 1)
('LINK', 'BK', 3)
('LINO', 'BE', 1)
('LJBR', 'WH', 1)
('LJR', None, 1)
('LLFS', None, 1)
('LMBO', 'GY', 1)
('LNAR', 'BL', 1)
('LNC', 'GY', 1)
('LNCE', 'SI', 1)
('LNCI', 'BK', 15)
('LNCL', 'BK', 1)
('LND', 'GR', 1)
('LNDA', 'WH', 3)
('LNDR', 'BK', 9757)
('LNDZ', 'WH', 1)
('LNGR', 'BK', 1)
('LNQT', None, 1)
('LNRV', 'BK', 3)
('LOAD', 'BK', 1)
('LOAZ', 'WH', 1)
('LODC', 'BK', 5)
('LONG', 'WH', 8)
('LOOK', 'WH', 2)
('LOTS', 'RE', 1)
('LOTU', 'BL', 1)
('LOZ', 'WH', 1)
('LR', 'BK', 3)
('LROV', 'BK', 134)
('LRVR', 'BK', 39)
('LUFK', 'GY', 1)
('LUHR', 'WH', 1)
('LUIK', 'WH', 1)
('LX', 'TA', 1)
('LXS', 'GY', 3)
('LXSS', 'SL', 1)
('LXU', 'BK', 1)
('LXUS', 'WH', 4)
('LXX', 'TA', 1)
('LZDZ', 'WH', 1)
('M/BN', 'WH', 1)
('MABA', 'WH', 1)
('MAC', 'WH', 1)
('MACA', 'BK', 1)
('MACK', 'WT', 169)
('MADA', 'SI', 1)
('MADZ', 'BK', 2)
('MAJE', 'WH', 2)
('MAKE', 'BR', 2)
('MALA', 'WH', 2)
('MALK', 'TA', 1)
('MALL', 'TA', 3)
('MALR', 'WH', 4)
('MARL', 'WH', 1)
('MAS', 'BK', 2)
('MASA', 'GY', 1)
('MASE', 'BK', 1674)
('MASR', 'BL', 2)
('MASS', 'WH', 1)
('MAST', 'SI', 1)
('MASZ', 'BK', 2)
('MAT', 'WH', 1)
('MAUN', 'WH', 1)
('MAXD', 'BK', 1)
('MAYB', 'BK', 3)
('MAYF', 'WH', 1)
('MAZ', 'GY', 60)
('MAZA', 'BK', 3)
('MAZD', 'GY', 23051)
('MAZE', 'BK', 3)
('MB', 'SI', 2)
('MBEN', 'WH', 2)
('MBEZ', 'GY', 3)
('MBNZ', 'BK', 631)
('MBTR', 'WH', 5)
('MBW', 'GY', 1)
('MBZ', 'BK', 29)
('MBZN', 'WH', 1)
('MC', 'GY', 1)
('MCCR', 'GY', 1)
('MCDS', 'SI', 1)
('MCI', 'WH', 6)
('MCIN', 'WH', 2)
('MCLA', 'BK', 1)
('MCOX', 'BK', 7)
('MDLN', 'BR', 1)
('MDZ', 'BK', 1)
('MECD', 'SI', 1)
('MECO', 'BK', 23)
('MECU', 'RE', 1)
('MECV', 'BK', 1)
('MECX', 'BK', 5)
('MED', 'SI', 2)
('MEDE', 'BK', 4)
('MEDU', 'RE', 1)
('MEID', 'BK', 1)
('MELA', 'WH', 1)
('MELO', 'BK', 4)
('MEM', 'GY', 1)
('MENZ', 'GR', 1)
('MER', 'BK', 23)
('MERA', 'OR', 1)
('MERB', 'GY', 1)
('MERC', 'GY', 2269)
('MERD', 'WH', 3)
('MERK', 'BK', 78)
('MERL', 'WH', 1)
('MERQ', 'BK', 1)
('MERS', 'BK', 3)
('MERV', 'SI', 1)
('MERY', 'GR', 1)
('MERZ', 'BK', 60233)
('MESC', 'GR', 1)
('METR', 'BK', 1)
('MEZ', 'WH', 3)
('MEZD', 'GY', 1)
('MG', 'GR', 3)
('MGM', 'GY', 1)
('MGR', 'WH', 1)
('MH', 'TA', 2)
('MIAI', 'GY', 1)
('MIAT', 'GY', 1)
('MICE', 'BL', 1)
('MID', 'WH', 1)
('MIDA', 'WH', 15)
('MIDS', 'TA', 1)
('MIHI', 'WH', 1)
('MILE', 'WH', 1)
('MILL', 'BK', 1)
('MIN', 'WH', 4)
('MINC', 'BK', 1)
('MINI', 'BK', 245)
('MINN', 'WH', 5)
('MINT', 'CR', 1)
('MIS', 'RE', 1)
('MISH', 'GR', 1)
('MISS', 'BK', 1)
('MIST', 'BK', 1)
('MISV', 'WH', 1)
('MIT', 'GY', 5)
('MITC', 'GY', 1)
('MITE', 'SI', 1)
('MITI', 'RE', 1)
('MITS', 'WT', 7506)
('MITU', 'BK', 1)
('MITZ', 'BK', 20)
('MLAR', 'WH', 1)
('MLBL', 'BK', 1)
('MMI', 'BK', 1)
('MN', 'BK', 1)
('MNA', 'WH', 1)
('MNAC', 'WH', 4)
('MNB', 'BK', 1)
('MNBZ', 'BK', 1)
('MNCO', 'GY', 1)
('MNCP', 'RE', 1)
('MNI', 'BK', 1)
('MNIC', 'BK', 1)
('MNIT', 'BR', 1)
('MNM', 'BK', 1)
('MNMI', 'WH', 2)
('MNN', 'WH', 2)
('MNNI', 'BK', 6168)
('MNNW', 'WH', 3)
('MNW', 'GY', 1)
('MNZ', 'WH', 1)
('MOBI', 'WH', 1)
('MODZ', 'BK', 1)
('MOHO', 'BL', 1)
('MOLO', 'GR', 1)
('MON', 'WH', 1)
('MONA', 'WH', 4)
('MONO', 'BK', 5)
('MONT', 'WH', 3)
('MORG', 'BR', 10)
('MORO', 'BL', 1)
('MOSS', 'WH', 1)
('MOTO', 'BK', 2)
('MRCB', 'WH', 1)
('MRCD', 'WH', 1)
('MRCE', 'BK', 1)
('MRCY', 'CR', 1)
('MRDE', 'BL', 1)
('MREC', 'BL', 1)
('MREZ', 'BK', 2)
('MRSC', 'WH', 1)
('MRTV', 'WH', 1)
('MRZ', 'GY', 3)
('MRZD', 'WH', 1)
('MSTC', 'BR', 1)
('MTS', 'TA', 1)
('MTSB', 'WH', 1)
('MTSI', 'SI', 1)
('MTZ', 'BK', 1)
('MUMN', 'OR', 1)
('MUN', 'GY', 1)
('MUNI', 'BK', 1)
('MURC', 'GO', 1)
('MUST', 'BK', 4)
('MV', 'SI', 1)
('MWWM', 'OR', 1)
('MWWN', 'GY', 1)
('MZA', 'WH', 1)
('MZB', 'BK', 3)
('MZBZ', 'SI', 1)
('MZD', 'BK', 2)
('MZDA', 'SI', 4)
('NABI', None, 1)
('NASH', 'RE', 1)
('NATH', 'WH', 1)
('NATI', 'TA', 1)
('NAVI', 'WH', 1)
('NEON', 'MA', 1)
('NEOP', 'OR', 1)
('NEWF', 'RE', 3)
('NEWM', 'BR', 1)
('NEWN', 'BR', 1)
('NEWS', 'BK', 1)
('NIS', 'GY', 1)
('NISS', 'GY', 72622)
('NNBG', 'TA', 1)
('NOMA', 'WH', 3)
('NPRT', 'WH', 2)
('NWFL', 'RE', 1)
('NWMR', 'GY', 1)
('ODEL', 'RE', 1)
('ODSE', 'TA', 1)
('ODYS', 'WH', 3)
('OLD', 'WH', 1)
('OLDS', 'WT', 1098)
('OLDY', 'WH', 1)
('OLSM', 'BL', 1)
('OMEG', 'PU', 1)
('OPEN', 'BE', 1)
('OPNR', 'WH', 3)
('OPTI', 'SI', 1)
('ORIO', 'RE', 1)
('OSHK', 'WH', 3)
('OTAR', 'GY', 1)
('OTH', 'BK', 1)
('OTHE', 'RE', 6)
('OTHR', 'BN', 27705)
('OTR', 'BK', 2)
('OVER', 'BR', 3)
('OVRL', 'BE', 1)
('PAC', 'WH', 3)
('PACE', 'WH', 21)
('PACI', 'GY', 1)
('PACK', 'BK', 11)
('PAMI', 'WH', 1)
('PARG', 'BE', 1)
('PARO', 'BE', 2)
('PARR', 'TA', 10)
('PASS', 'TA', 1)
('PATR', 'WH', 2)
('PB', 'WH', 16)
('PBLT', 'RE', 1)
('PCEA', 'GY', 1)
('PCH', 'RE', 1)
('PECE', 'BK', 1)
('PEOP', 'BK', 1)
('PET', 'RE', 1)
('PETE', 'WH', 10)
('PETR', 'RE', 1)
('PEUG', 'WT', 13)
('PHAE', 'BR', 1)
('PIAG', None, 1)
('PIER', 'BK', 1)
('PINC', 'TA', 1)
('PINE', 'WH', 1)
('PINF', 'WH', 1)
('PINN', 'WH', 9)
('PION', 'WH', 5)
('PLMO', 'MA', 1)
('PLOM', 'BK', 1)
('PLY', 'GR', 1)
('PLYM', 'WT', 696)
('PLYT', 'BL', 1)
('PNCL', 'WH', 4)
('POCH', 'BK', 1)
('POLA', 'BK', 1)
('POMT', 'BR', 1)
('PONC', 'SI', 1)
('PONI', 'BL', 1)
('PONT', 'GY', 3500)
('PONZ', 'BL', 1)
('POPC', 'BK', 1)
('POR', 'BK', 2)
('PORC', 'BK', 12)
('PORH', 'BK', 2)
('PORS', 'BK', 8663)
('POUR', 'BK', 1)
('PPRO', 'BE', 1)
('PRAT', 'BK', 3)
('PRCH', 'GR', 1)
('PRE', 'BL', 1)
('PREM', 'BK', 1)
('PREO', 'BL', 1)
('PRES', 'BK', 1)
('PREU', 'WH', 1)
('PREV', 'WH', 3)
('PRIU', 'GY', 2)
('PRNN', 'WH', 1)
('PRNT', 'WH', 1)
('PROP', 'YE', 1)
('PROS', 'BL', 1)
('PROU', 'GY', 1)
('PROV', 'GR', 1)
('PROW', 'WH', 12)
('PRPO', 'WH', 3)
('PRQW', 'TA', 1)
('PRRO', 'TA', 20)
('PRRW', 'TA', 1)
('PRSH', 'BK', 2)
('PRTB', 'BL', 1)
('PRU', 'SI', 1)
('PRWL', 'TA', 2)
('PSSA', 'WH', 1)
('PTBL', 'WH', 4)
('PTBR', 'WH', 1)
('PTBT', 'BK', 1)
('PTCR', 'GY', 2)
('PTNB', 'WH', 1)
('PTRB', 'WT', 1396)
('PVOS', 'WH', 1)
('PVR', 'WH', 1)
('PWNA', 'TA', 1)
('QUAN', 'BK', 3)
('QUST', 'BK', 1)
('R/R', 'BK', 1)
('RALL', 'BR', 2)
('RALY', None, 1)
('RAM', 'WH', 10)
('RAME', 'BR', 1)
('RAMG', 'WT', 1)
('RAMP', 'MA', 1)
('RAN', 'BK', 3)
('RANG', 'BK', 77)
('RANH', 'GR', 1)
('RANR', 'SI', 1)
('RAV', 'WH', 1)
('RAWA', 'RE', 1)
('RBIN', 'WH', 1)
('RCKW', None, 1)
('RDKM', 'WH', 1)
('RDRG', 'WH', 3)
('RDRN', 'WH', 2)
('RE', 'WH', 1)
('REDB', 'BR', 1)
('REIS', 'SI', 1)
('RELI', 'GR', 1)
('RENA', 'BK', 22)
('RENE', 'OR', 1)
('REO', 'BK', 2)
('RESD', 'BK', 1)
('RESI', 'BR', 1)
('REUC', 'TA', 1)
('REUN', 'TA', 1)
('REVC', 'TA', 3)
('REVG', 'TA', 1)
('REXA', 'BL', 1)
('REXH', 'WH', 2)
('RINI', 'TA', 1)
('RIVE', 'SI', 1)
('RLON', 'WH', 6)
('RMBL', 'WH', 1)
('RNG', 'BK', 2)
('RNGE', 'BL', 2)
('RNGR', 'BK', 3)
('RNOV', 'BK', 1)
('ROAD', 'GY', 1)
('ROBI', 'WH', 11)
('ROBM', 'TA', 1)
('ROBN', 'WH', 2)
('ROBV', 'BE', 1)
('ROCK', 'TA', 2)
('ROCN', 'TA', 1)
('RODE', 'BK', 1)
('ROEN', 'BK', 1)
('ROGU', 'BK', 1)
('ROKE', 'BL', 2)
('ROKW', 'WH', 1)
('ROL', 'BK', 361)
('ROLL', 'BK', 7)
('ROLS', 'BK', 9)

### Pandas

In [19]:
time1 = timeit.default_timer()

# Only look at Make != null
filt = ~df['Make'].isnull()
df2 = df.loc[ filt, ['Make','Color'] ]

# Get the number in each Make/Color group
x = pd.DataFrame( df2.groupby(['Make','Color']).size() )
x2 = x.reset_index()

# Get rid of that 0 column
x2.columns
x2.rename( columns={0:'cnt'}, inplace=True)

x2 = x2.groupby(['Make'])['cnt'].agg('max').reset_index()
print(x2)

time2 = timeit.default_timer()
print("\ntime = ", (time2 - time1) )

      Make    cnt
0     AAUD      1
1     AAVH      2
2     ABAR      3
3      ABC      3
4     ABRI      1
5      ACC      1
6     ACCR      1
7     ACCU      3
8     ACDI      1
9      ACG      2
10    ACOR      1
11    ACRA      4
12    ACRU      1
13     ACU     10
14    ACUA      1
15    ACUR  13041
16    ADIA      1
17    ADVE      1
18    AERO      1
19    AFLA      1
20    AIRB      1
21    AIRE      4
22    AIRS      2
23    AIRX      1
24    AJAX      8
25    ALAX      1
26    ALEG      7
27    ALER      2
28    ALFA    202
29    ALGR      2
...    ...    ...
1439  WNBO      1
1440  WNDE      1
1441  WNEG      1
1442  WNES      2
1443  WNGB      1
1444  WNNE      1
1445  WNSS      1
1446  WOND      1
1447  WORH      1
1448  WORK      5
1449  WORL      1
1450  WRAN     10
1451  WRKH      2
1452  WRRC      1
1453    XL      1
1454  XLSP      1
1455   YAM      3
1456  YAMA    709
1457  YAMH      1
1458  YANB      1
1459  YONG      2
1460  ZEIM      2
1461  ZEMA      4
1462  ZHEN      1
1463  ZHNG      1
1464  ZHON      1
1465  ZIEM      4
1466  ZIEN      1
1467  ZNEN      1
1468    ZZ      1

[1469 rows x 2 columns]

time =  4.216333179996582

### Results: SQLite 5.35s / Pandas 4.21s

# Problem (c) ----------------------------------------------------

In [20]:
# First, note the formatting of the Issue_date column
#df.head()

In [21]:
# Reformat it, before doing a comparison

# practice
#date = "2015-12-21T00:00:00"
#dt.datetime.strptime(date,"%Y-%m-%dT%H:%M:%S")

# Convert column 'Issue_Date' to a datetime object, so comparisons can be easily made
df['Issue_Date_new'] = pd.to_datetime( df['Issue_Date'], format="%Y-%m-%dT%H:%M:%S" )

In [22]:
#df.head()

### SQLite

In [23]:
cur.execute("DROP TABLE IF EXISTS temp1")

for row in cur.execute("CREATE TABLE temp1 AS SELECT Make, Issue_Date, strftime('%Y-%m-%dT%H:%M:%S',Issue_Date) AS Issue_Date_new FROM mytest WHERE Make IS NOT NULL"):
    print(row)

In [24]:
time1 = timeit.default_timer()

for row in cur.execute("SELECT Make, MIN(Issue_Date_new) FROM temp1 GROUP BY Make"):
    print(row)

time2 = timeit.default_timer()
print("\ntime = ", (time2 - time1) )

('AAUD', '2018-07-13T00:00:00')
('AAVH', '2018-03-29T00:00:00')
('ABAR', '2016-09-15T00:00:00')
('ABC', '2016-05-10T00:00:00')
('ABRI', '2017-04-18T00:00:00')
('ACC', '2015-12-23T00:00:00')
('ACCR', '2018-02-12T00:00:00')
('ACCU', '2015-04-07T00:00:00')
('ACDI', '2017-12-01T00:00:00')
('ACG', '2016-03-15T00:00:00')
('ACOR', '2018-03-07T00:00:00')
('ACRA', '2016-12-04T00:00:00')
('ACRU', '2018-08-22T00:00:00')
('ACU', '2016-12-19T00:00:00')
('ACUA', '2016-11-29T00:00:00')
('ACUR', '2010-06-09T00:00:00')
('ADIA', '2016-06-02T00:00:00')
('ADVE', '2016-11-01T00:00:00')
('AERO', '2017-07-14T00:00:00')
('AFLA', '2018-03-01T00:00:00')
('AIRB', '2018-10-16T00:00:00')
('AIRE', '2016-01-27T00:00:00')
('AIRS', '2015-02-12T00:00:00')
('AIRX', '2015-02-11T00:00:00')
('AJAX', '2015-05-21T00:00:00')
('ALAX', '2015-02-23T00:00:00')
('ALEG', '2017-09-10T00:00:00')
('ALER', '2015-03-15T00:00:00')
('ALFA', '2014-11-02T00:00:00')
('ALGR', '2016-12-23T00:00:00')
('ALJD', '2017-10-27T00:00:00')
('ALJO', '2017-09-22T00:00:00')
('ALLD', '2015-02-21T00:00:00')
('ALLE', '2016-01-11T00:00:00')
('ALLG', '2017-06-07T00:00:00')
('ALLY', '2015-08-04T00:00:00')
('ALPE', '2017-03-31T00:00:00')
('ALPH', '2017-12-03T00:00:00')
('ALTI', '2016-02-12T00:00:00')
('ALTM', '2016-10-16T00:00:00')
('AM', '2015-06-30T00:00:00')
('AMC', '2014-10-15T00:00:00')
('AMCA', '2015-01-16T00:00:00')
('AMCE', '2017-06-28T00:00:00')
('AMCL', '2016-03-28T00:00:00')
('AMER', '2015-01-07T00:00:00')
('ANDE', '2017-07-18T00:00:00')
('APAC', '2015-02-22T00:00:00')
('APCH', '2015-04-22T00:00:00')
('APOL', '2016-09-29T00:00:00')
('APPL', '2018-06-20T00:00:00')
('APPO', '2017-10-05T00:00:00')
('APR', '2015-12-30T00:00:00')
('APRI', '2018-05-14T00:00:00')
('APRL', '2016-02-08T00:00:00')
('AREB', '2015-11-26T00:00:00')
('ARGO', '2017-03-11T00:00:00')
('ARGS', '2017-03-15T00:00:00')
('ARIS', '2015-09-22T00:00:00')
('ARMO', '2015-04-01T00:00:00')
('ARMR', '2015-01-20T00:00:00')
('AROS', '2017-05-28T00:00:00')
('ARRO', '2015-11-15T00:00:00')
('ARST', '2017-09-19T00:00:00')
('ARTS', '2018-12-21T00:00:00')
('ASTN', '2015-06-23T00:00:00')
('ASTO', '2014-11-01T00:00:00')
('AUBI', '2016-05-06T00:00:00')
('AUBU', '2014-12-31T00:00:00')
('AUCA', '2016-10-07T00:00:00')
('AUCR', '2017-03-08T00:00:00')
('AUD', '2015-06-17T00:00:00')
('AUDI', '2012-06-04T00:00:00')
('AUHE', '2015-01-02T00:00:00')
('AURA', '2017-10-01T00:00:00')
('AURO', '2015-12-30T00:00:00')
('AUST', '2016-04-11T00:00:00')
('AUTO', '2015-07-07T00:00:00')
('AVAL', '2017-07-14T00:00:00')
('AVD', '2017-08-30T00:00:00')
('AVON', '2016-11-23T00:00:00')
('AVTI', '2015-03-23T00:00:00')
('AXES', '2017-08-16T00:00:00')
('AZT', '2017-04-11T00:00:00')
('AZTC', '2016-06-03T00:00:00')
('BAJA', '2018-06-28T00:00:00')
('BARO', '2017-02-04T00:00:00')
('BAYL', '2017-03-01T00:00:00')
('BEAU', '2017-04-11T00:00:00')
('BEAV', '2016-05-20T00:00:00')
('BEAW', '2015-06-04T00:00:00')
('BEAZ', '2017-03-02T00:00:00')
('BEN', '2016-04-28T00:00:00')
('BENE', '2015-03-16T00:00:00')
('BENT', '2014-11-01T00:00:00')
('BENZ', '2013-07-06T00:00:00')
('BERI', '2016-01-20T00:00:00')
('BERT', '2015-10-05T00:00:00')
('BEVR', '2017-07-13T00:00:00')
('BIGS', '2016-05-22T00:00:00')
('BIGT', '2016-09-20T00:00:00')
('BLBR', '2015-07-31T00:00:00')
('BLNK', '2018-09-17T00:00:00')
('BLSH', '2016-09-28T00:00:00')
('BLUB', '2014-12-13T00:00:00')
('BLUE', '2016-02-21T00:00:00')
('BM', '2017-06-23T00:00:00')
('BMER', '2018-06-13T00:00:00')
('BML', '2017-10-05T00:00:00')
('BMS', '2015-06-14T00:00:00')
('BMV', '2016-12-22T00:00:00')
('BMW', '2010-10-09T00:00:00')
('BNDE', '2018-12-14T00:00:00')
('BNTL', '2016-11-19T00:00:00')
('BNZ', '2016-12-10T00:00:00')
('BOB', '2018-10-18T00:00:00')
('BOND', '2016-04-29T00:00:00')
('BONN', '2016-09-30T00:00:00')
('BOON', '2015-08-28T00:00:00')
('BORE', '2015-02-23T00:00:00')
('BOUN', '2015-10-23T00:00:00')
('BOYD', '2018-10-04T00:00:00')
('BRAV', '2017-09-06T00:00:00')
('BRGH', '2015-03-22T00:00:00')
('BRHA', '2015-05-12T00:00:00')
('BRHM', '2017-05-23T00:00:00')
('BRID', '2017-06-22T00:00:00')
('BRIN', '2016-06-03T00:00:00')
('BRNA', '2015-06-08T00:00:00')
('BRO', '2018-09-24T00:00:00')
('BROM', '2016-03-03T00:00:00')
('BROU', '2018-03-01T00:00:00')
('BRUG', '2016-04-07T00:00:00')
('BRYN', '2017-09-21T00:00:00')
('BTM', '2017-04-12T00:00:00')
('BTX', '2015-05-20T00:00:00')
('BUDD', '2016-02-10T00:00:00')
('BUEL', '2016-10-16T00:00:00')
('BUGA', '2015-01-12T00:00:00')
('BUIC', '2013-04-19T00:00:00')
('BUICK', '2017-09-27T00:00:00')
('BUS', '2015-03-04T00:00:00')
('BUSH', '2015-10-10T00:00:00')
('BUTL', '2014-02-18T00:00:00')
('BW', '2017-05-28T00:00:00')
('BWM', '2018-07-03T00:00:00')
('BYD', '2017-04-20T00:00:00')
('CABA', '2017-06-30T00:00:00')
('CAD', '2016-09-20T00:00:00')
('CADI', '2013-03-25T00:00:00')
('CADY', '2016-11-15T00:00:00')
('CAMR', '2018-08-23T00:00:00')
('CANA', '2015-09-13T00:00:00')
('CAPR', '2018-10-14T00:00:00')
('CARG', '2018-08-09T00:00:00')
('CARI', '2018-06-05T00:00:00')
('CARO', '2017-03-05T00:00:00')
('CARR', '2017-09-07T00:00:00')
('CARS', '2015-01-19T00:00:00')
('CATE', '2017-12-08T00:00:00')
('CAVA', '2015-01-27T00:00:00')
('CAVE', '2017-09-05T00:00:00')
('CAVL', '2018-05-14T00:00:00')
('CBO', '2015-07-23T00:00:00')
('CCH', '2015-05-19T00:00:00')
('CCHM', '2016-06-04T00:00:00')
('CEHM', '2017-09-03T00:00:00')
('CHA', '2017-03-29T00:00:00')
('CHAM', '2015-11-23T00:00:00')
('CHAN', '2015-07-01T00:00:00')
('CHAP', '2018-01-14T00:00:00')
('CHAR', '2015-07-20T00:00:00')
('CHAS', '2017-06-28T00:00:00')
('CHCM', '2016-11-29T00:00:00')
('CHEC', '2014-11-01T00:00:00')
('CHEE', '2015-01-28T00:00:00')
('CHEF', '2018-07-11T00:00:00')
('CHEL', '2017-12-22T00:00:00')
('CHER', '2015-03-24T00:00:00')
('CHET', '2015-08-01T00:00:00')
('CHEV', '2010-06-25T00:00:00')
('CHIE', '2018-01-05T00:00:00')
('CHIM', '2015-11-22T00:00:00')
('CHIN', '2015-09-14T00:00:00')
('CHLE', '2018-10-09T00:00:00')
('CHLG', '2018-03-09T00:00:00')
('CHME', '2018-09-11T00:00:00')
('CHMN', '2018-01-17T00:00:00')
('CHR', '2016-11-29T00:00:00')
('CHRI', '2016-04-10T00:00:00')
('CHRL', '2016-09-16T00:00:00')
('CHRS', '2016-05-30T00:00:00')
('CHRY', '2011-04-12T00:00:00')
('CHSY', '2018-08-18T00:00:00')
('CHTA', '2017-01-18T00:00:00')
('CHTH', '2017-12-30T00:00:00')
('CHY', '2017-05-13T00:00:00')
('CHYC', '2017-09-03T00:00:00')
('CHYL', '2017-02-24T00:00:00')
('CHYR', '2017-04-10T00:00:00')
('CHYS', '2016-11-24T00:00:00')
('CIMC', '2014-12-30T00:00:00')
('CIML', '2016-11-09T00:00:00')
('CIMO', '2016-05-02T00:00:00')
('CINC', '2015-06-02T00:00:00')
('CIRC', '2015-11-27T00:00:00')
('CITR', '2015-04-16T00:00:00')
('CLMN', '2016-04-13T00:00:00')
('CMAK', '2017-10-10T00:00:00')
('CMAX', '2018-03-12T00:00:00')
('CMDR', '2016-12-23T00:00:00')
('CMIC', '2018-07-19T00:00:00')
('CMPI', '2016-01-25T00:00:00')
('CMPP', '2016-02-17T00:00:00')
('CMW', '2015-07-17T00:00:00')
('CNCA', '2018-10-08T00:00:00')
('CNCM', '2018-11-03T00:00:00')
('CNP', '2017-10-11T00:00:00')
('CNQS', '2015-12-28T00:00:00')
('COAC', '2015-08-06T00:00:00')
('COCH', '2018-10-25T00:00:00')
('COHN', '2017-09-06T00:00:00')
('COLE', '2016-03-10T00:00:00')
('COLM', '2015-05-28T00:00:00')
('COLO', '2017-03-29T00:00:00')
('COLU', '2018-09-28T00:00:00')
('COMD', '2015-08-19T00:00:00')
('COME', '2016-11-09T00:00:00')
('COMM', '2015-02-26T00:00:00')
('COMO', '2017-01-05T00:00:00')
('COMP', '2015-05-21T00:00:00')
('CONQ', '2019-01-01T00:00:00')
('CONT', '2015-03-27T00:00:00')
('COOP', '2014-12-07T00:00:00')
('COPP', '2018-05-11T00:00:00')
('CORN', '2018-12-03T00:00:00')
('CORS', '2017-05-04T00:00:00')
('CORT', '2017-07-18T00:00:00')
('CORV', '2015-04-22T00:00:00')
('COSC', '2016-12-14T00:00:00')
('COTT', '2016-03-10T00:00:00')
('COTZ', '2015-05-10T00:00:00')
('COVR', '2015-07-21T00:00:00')
('COZY', '2015-07-09T00:00:00')
('CPS', '2015-11-15T00:00:00')
('CRDA', '2017-07-07T00:00:00')
('CRES', '2018-11-28T00:00:00')
('CRMS', '2017-12-06T00:00:00')
('CROS', '2015-09-23T00:00:00')
('CROV', '2016-11-17T00:00:00')
('CROW', '2017-09-08T00:00:00')
('CRSL', '2016-11-06T00:00:00')
('CRSO', '2017-10-10T00:00:00')
('CRU', '2017-06-17T00:00:00')
('CRUI', '2014-01-08T00:00:00')
('CRUM', '2015-09-04T00:00:00')
('CRUS', '2015-03-04T00:00:00')
('CRUZ', '2015-10-15T00:00:00')
('CRVT', '2015-04-09T00:00:00')
('CRY', '2016-05-10T00:00:00')
('CRYL', '2018-04-04T00:00:00')
('CRYR', '2017-07-09T00:00:00')
('CRYS', '2015-06-01T00:00:00')
('CUAL', '2018-03-02T00:00:00')
('CUSH', '2015-01-26T00:00:00')
('CUST', '2016-09-12T00:00:00')
('DAE', '2015-03-04T00:00:00')
('DAEW', '2014-10-31T00:00:00')
('DAIH', '2014-11-03T00:00:00')
('DALN', '2018-05-17T00:00:00')
('DAMN', '2017-08-01T00:00:00')
('DAMO', '2015-01-13T00:00:00')
('DANE', '2016-01-18T00:00:00')
('DAT', '2017-06-15T00:00:00')
('DATS', '2014-10-31T00:00:00')
('DAVI', '2017-06-22T00:00:00')
('DAWE', '2018-03-19T00:00:00')
('DAWU', '2017-03-14T00:00:00')
('DAYT', '2015-05-18T00:00:00')
('DCHM', '2017-02-16T00:00:00')
('DCMH', '2017-04-04T00:00:00')
('DDOG', '2018-03-06T00:00:00')
('DELT', '2017-03-21T00:00:00')
('DGFN', '2017-08-12T00:00:00')
('DIAD', '2017-09-22T00:00:00')
('DIAM', '2015-07-09T00:00:00')
('DIPL', '2017-10-19T00:00:00')
('DIRE', '2017-01-06T00:00:00')
('DLPH', '2016-01-29T00:00:00')

('DMW', '2018-10-28T00:00:00')
('DODG', '2011-09-10T00:00:00')
('DOLI', '2018-11-24T00:00:00')
('DOLP', '2015-08-19T00:00:00')
('DOOH', '2016-12-29T00:00:00')
('DORS', '2017-04-06T00:00:00')
('DOT', '2015-09-02T00:00:00')
('DOVE', '2018-09-20T00:00:00')
('DPLM', '2015-09-30T00:00:00')
('DRAG', '2016-01-31T00:00:00')
('DRLN', '2016-01-29T00:00:00')
('DRME', '2018-12-14T00:00:00')
('DRMR', '2015-10-10T00:00:00')
('DROS', '2015-11-04T00:00:00')
('DTAM', '2017-08-23T00:00:00')
('DUCA', '2015-01-13T00:00:00')
('DUES', '2015-01-14T00:00:00')
('DUHN', '2015-08-04T00:00:00')
('DUNH', '2015-08-06T00:00:00')
('DUTC', '2016-12-06T00:00:00')
('DUTS', '2017-05-10T00:00:00')
('DYNA', '2015-06-02T00:00:00')
('EAGL', '2015-12-03T00:00:00')
('EAST', '2016-10-13T00:00:00')
('ECLP', '2016-05-11T00:00:00')
('EFAB', '2015-11-13T00:00:00')
('EGIL', '2014-12-23T00:00:00')
('EGLE', '2015-01-06T00:00:00')
('EJET', '2017-05-20T00:00:00')
('EL', '2016-12-18T00:00:00')
('EL D', '2017-11-29T00:00:00')
('ELAN', '2017-12-27T00:00:00')
('ELD', '2015-06-17T00:00:00')
('ELDO', '2015-05-28T00:00:00')
('ELDR', '2015-08-24T00:00:00')
('ELO', '2017-03-06T00:00:00')
('ELX', '2018-10-16T00:00:00')
('ENCO', '2017-04-06T00:00:00')
('ENTE', '2017-06-22T00:00:00')
('ENTO', '2018-09-10T00:00:00')
('ESCA', '2015-09-16T00:00:00')
('ESCO', '2015-07-10T00:00:00')
('EST', '2017-02-01T00:00:00')
('ESTA', '2015-01-07T00:00:00')
('ESTB', '2016-10-18T00:00:00')
('EURO', '2016-05-27T00:00:00')
('EXCE', '2015-11-11T00:00:00')
('EXEC', '2016-10-13T00:00:00')
('EXEL', '2016-05-13T00:00:00')
('EXEP', '2017-10-06T00:00:00')
('EXER', '2015-09-07T00:00:00')
('EXIS', '2016-11-09T00:00:00')
('EXP', '2018-12-04T00:00:00')
('EXPC', '2018-04-04T00:00:00')
('EXPE', '2018-09-14T00:00:00')
('EXPL', '2015-08-14T00:00:00')
('EXRE', '2015-05-13T00:00:00')
('EZLO', '2015-03-12T00:00:00')
('FABR', '2017-05-22T00:00:00')
('FAIT', '2018-01-27T00:00:00')
('FAMW', '2016-01-27T00:00:00')
('FBAL', '2015-05-21T00:00:00')
('FBAZ', '2015-07-20T00:00:00')
('FEDE', '2015-04-25T00:00:00')
('FEIN', '2017-10-08T00:00:00')
('FENA', '2015-07-07T00:00:00')
('FER', '2016-10-09T00:00:00')
('FERA', '2016-11-06T00:00:00')
('FERR', '2014-11-02T00:00:00')
('FHN', '2015-08-27T00:00:00')
('FHRG', '2016-09-29T00:00:00')
('FHRT', '2016-11-15T00:00:00')
('FHWA', '2017-01-18T00:00:00')
('FIA', '2017-01-31T00:00:00')
('FIAT', '2012-12-28T00:00:00')
('FIEL', '2015-05-20T00:00:00')
('FIRE', '2018-05-17T00:00:00')
('FISK', '2015-05-26T00:00:00')
('FLAI', '2015-01-14T00:00:00')
('FLAR', '2017-07-25T00:00:00')
('FLAT', '2016-04-11T00:00:00')
('FLAZ', '2017-09-19T00:00:00')
('FLDS', '2014-12-26T00:00:00')
('FLEE', '2015-01-27T00:00:00')
('FLET', '2015-01-07T00:00:00')
('FLEX', '2015-01-28T00:00:00')
('FLGH', '2015-02-10T00:00:00')
('FLHT', '2015-04-02T00:00:00')
('FLN', '2016-10-08T00:00:00')
('FLTW', '2016-11-30T00:00:00')
('FLXI', '2017-09-13T00:00:00')
('FMC', '2015-07-31T00:00:00')
('FMCS', '2017-06-14T00:00:00')
('FMT', '2018-04-22T00:00:00')
('FONT', '2015-06-05T00:00:00')
('FORD', '2010-01-09T00:00:00')
('FORE', '2017-07-12T00:00:00')
('FORM', '2017-09-18T00:00:00')
('FOUR', '2015-05-29T00:00:00')
('FR', '2018-04-21T00:00:00')
('FREG', '2017-08-15T00:00:00')
('FREH', '2015-08-23T00:00:00')
('FREI', '2014-10-25T00:00:00')
('FRET', '2016-03-09T00:00:00')
('FRGH', '2015-05-11T00:00:00')
('FRGT', '2015-04-14T00:00:00')
('FRH', '2016-10-04T00:00:00')
('FRHF', '2016-05-12T00:00:00')
('FRHG', '2015-08-03T00:00:00')
('FRHI', '2017-05-20T00:00:00')
('FRHT', '2014-01-12T00:00:00')
('FRI', '2018-03-25T00:00:00')
('FRIE', '2016-11-04T00:00:00')
('FRIG', '2015-01-17T00:00:00')
('FRIT', '2018-10-10T00:00:00')
('FRKT', '2016-12-27T00:00:00')
('FRL', '2014-12-27T00:00:00')
('FRLI', '2015-02-08T00:00:00')
('FRLN', '2015-02-10T00:00:00')
('FRLR', '2015-01-16T00:00:00')
('FRLT', '2015-04-07T00:00:00')
('FRNT', '2016-10-10T00:00:00')
('FRON', '2018-10-21T00:00:00')
('FRST', '2017-05-27T00:00:00')
('FRT', '2016-05-26T00:00:00')
('FRTH', '2016-05-02T00:00:00')
('FRTL', '2014-12-30T00:00:00')
('FRUE', '2015-04-07T00:00:00')
('FRUT', '2017-12-29T00:00:00')
('FRWN', '2017-08-22T00:00:00')
('FRWS', '2016-05-31T00:00:00')
('FSFA', '2016-02-02T00:00:00')
('FSKR', '2014-12-31T00:00:00')
('FSTA', '2017-08-04T00:00:00')
('FSTR', '2018-06-04T00:00:00')
('FTLN', '2018-09-26T00:00:00')
('FTWD', '2018-06-06T00:00:00')
('FUSO', '2015-08-13T00:00:00')
('GALA', '2018-10-03T00:00:00')
('GAR', '2016-02-04T00:00:00')
('GARB', '2017-06-13T00:00:00')
('GBCA', '2016-05-10T00:00:00')
('GCHE', '2016-04-28T00:00:00')
('GD', '2016-01-19T00:00:00')
('GDAN', '2017-09-26T00:00:00')
('GEM', '2016-10-29T00:00:00')
('GEN', '2015-08-07T00:00:00')
('GENE', '2015-01-06T00:00:00')
('GENS', '2018-11-15T00:00:00')
('GENU', '2016-09-16T00:00:00')
('GEO', '2014-01-27T00:00:00')
('GEOB', '2015-01-23T00:00:00')
('GEOR', '2017-09-20T00:00:00')
('GFLC', '2018-12-07T00:00:00')
('GHSL', '2016-04-10T00:00:00')
('GILI', '2015-02-10T00:00:00')
('GILL', '2015-03-19T00:00:00')
('GILU', '2015-04-07T00:00:00')
('GIND', '2015-07-23T00:00:00')
('GINO', '2017-02-25T00:00:00')
('GLAU', '2017-01-04T00:00:00')
('GLAV', '2016-10-28T00:00:00')
('GM', '2015-08-04T00:00:00')
('GMC', '2012-03-12T00:00:00')
('GMCC', '2016-10-14T00:00:00')
('GMG', '2018-11-08T00:00:00')
('GNIN', '2015-11-20T00:00:00')
('GNRL', '2015-07-11T00:00:00')
('GNSS', '2018-10-13T00:00:00')
('GO', '2016-01-26T00:00:00')
('GOLD', '2016-01-20T00:00:00')
('GORD', '2017-07-24T00:00:00')
('GOSH', '2017-07-06T00:00:00')
('GRAM', '2015-10-27T00:00:00')
('GRAN', '2015-01-24T00:00:00')
('GRDN', '2016-02-25T00:00:00')
('GREA', '2015-01-09T00:00:00')
('GRHD', '2016-01-29T00:00:00')
('GRND', '2017-04-25T00:00:00')
('GRNV', '2018-12-14T00:00:00')
('GROS', '2015-01-12T00:00:00')
('GRSH', '2018-09-26T00:00:00')
('GRU', '2015-08-06T00:00:00')
('GRUM', '2014-11-01T00:00:00')
('GRY', '2017-05-14T00:00:00')
('GSCR', '2016-01-27T00:00:00')
('GSX', '2015-07-27T00:00:00')
('GT', '2012-01-03T00:00:00')
('GTDN', '2017-12-14T00:00:00')
('GTO', '2017-07-12T00:00:00')
('GULF', '2017-03-13T00:00:00')
('GUZZ', '2015-03-23T00:00:00')
('GYPS', '2016-06-03T00:00:00')
('HA', '2016-11-09T00:00:00')
('HAMD', '2017-06-21T00:00:00')
('HAMM', '2018-07-11T00:00:00')
('HAN', '2015-07-18T00:00:00')
('HARL', '2015-01-22T00:00:00')
('HARY', '2015-06-17T00:00:00')
('HAUN', '2017-08-30T00:00:00')
('HAWK', '2015-04-09T00:00:00')
('HD', '2014-10-31T00:00:00')
('HDY', '2016-03-26T00:00:00')
('HEM', '2015-08-01T00:00:00')
('HERC', '2016-12-25T00:00:00')
('HERI', '2016-03-04T00:00:00')
('HIND', '2018-08-05T00:00:00')
('HINO', '2015-01-22T00:00:00')
('HIR', '2015-02-20T00:00:00')
('HIUC', '2017-05-26T00:00:00')
('HIVC', '2017-02-04T00:00:00')
('HMR', '2015-01-29T00:00:00')
('HNAC', '2018-10-23T00:00:00')
('HNDY', '2017-03-23T00:00:00')
('HNO', '2014-11-02T00:00:00')
('HOLR', '2017-06-05T00:00:00')
('HON', '2017-09-26T00:00:00')
('HOND', '2011-03-06T00:00:00')
('HONDA', '2017-08-01T00:00:00')
('HONE', '2015-01-20T00:00:00')
('HONI', '2016-09-12T00:00:00')
('HORN', '2018-02-20T00:00:00')
('HORT', '2018-11-05T00:00:00')
('HOU', '2018-12-27T00:00:00')
('HPA', '2017-03-08T00:00:00')
('HPAM', '2018-01-07T00:00:00')
('HPMN', '2015-01-17T00:00:00')
('HRI', '2015-01-05T00:00:00')
('HRIC', '2016-01-26T00:00:00')
('HRII', '2015-02-23T00:00:00')
('HRLY', '2015-02-22T00:00:00')
('HRMB', '2017-04-21T00:00:00')
('HRTL', '2015-08-06T00:00:00')
('HSCR', '2015-03-16T00:00:00')
('HT', '2018-05-25T00:00:00')
('HTLD', '2018-09-14T00:00:00')
('HTON', '2017-06-10T00:00:00')
('HUAN', '2015-05-22T00:00:00')
('HUDI', '2017-08-25T00:00:00')
('HUDY', '2017-05-16T00:00:00')
('HUES', '2017-09-30T00:00:00')
('HUIN', '2017-02-04T00:00:00')
('HUM', '2015-05-07T00:00:00')
('HUMM', '2014-10-30T00:00:00')
('HUMR', '2015-10-07T00:00:00')
('HUN', '2015-05-07T00:00:00')
('HUND', '2012-07-17T00:00:00')
('HUNT', '2017-04-14T00:00:00')
('HUNY', '2015-03-17T00:00:00')
('HUY', '2017-01-06T00:00:00')
('HUYD', '2018-10-19T00:00:00')
('HUYN', '2015-07-04T00:00:00')
('HVES', '2015-10-04T00:00:00')
('HVST', '2016-12-08T00:00:00')
('HWND', '2018-06-16T00:00:00')
('HY', '2017-06-14T00:00:00')
('HYD', '2015-02-06T00:00:00')
('HYDA', '2017-07-29T00:00:00')
('HYDI', '2015-06-26T00:00:00')
('HYDN', '2016-11-06T00:00:00')
('HYDU', '2016-11-01T00:00:00')
('HYDY', '2017-07-20T00:00:00')
('HYFR', '2017-04-06T00:00:00')
('HYLI', '2018-05-03T00:00:00')
('HYN', '2016-09-30T00:00:00')
('HYND', '2015-08-06T00:00:00')
('HYNI', '2016-03-05T00:00:00')
('HYNU', '2017-09-28T00:00:00')
('HYOS', '2018-01-29T00:00:00')
('HYTO', '2018-01-16T00:00:00')
('HYTR', '2014-12-28T00:00:00')
('HYU', '2016-09-13T00:00:00')
('HYUA', '2017-10-22T00:00:00')
('HYUD', '2017-01-11T00:00:00')
('HYUN', '2011-12-10T00:00:00')
('IDBI', '2015-01-17T00:00:00')
('IDEA', '2018-01-22T00:00:00')
('IFIN', '2017-11-25T00:00:00')
('IMPA', '2016-04-24T00:00:00')
('IMPR', '2017-10-16T00:00:00')
('IMT', '2017-08-11T00:00:00')
('IND', '2014-12-30T00:00:00')
('INF', '2014-07-11T00:00:00')
('INFI', '2014-01-03T00:00:00')
('INFN', '2018-01-26T00:00:00')
('INFT', '2017-05-29T00:00:00')
('INFY', '2018-07-30T00:00:00')
('INI', '2015-08-24T00:00:00')
('INIF', '2017-11-03T00:00:00')
('INNI', '2018-10-23T00:00:00')
('INRI', '2018-02-04T00:00:00')
('INST', '2016-01-23T00:00:00')
('INT', '2016-09-10T00:00:00')
('INTE', '2015-03-27T00:00:00')
('INTL', '2013-09-08T00:00:00')
('INTR', '2017-03-24T00:00:00')
('INV', '2016-02-28T00:00:00')
('IRHT', '2018-05-08T00:00:00')
('ISLA', '2017-06-12T00:00:00')
('ISU', '2014-11-01T00:00:00')
('ISUS', '2015-06-08T00:00:00')
('ISUZ', '2014-10-20T00:00:00')
('ISZU', '2016-09-29T00:00:00')
('ITAC', '2018-10-03T00:00:00')
('ITAL', '2016-02-05T00:00:00')
('ITAS', '2015-03-10T00:00:00')
('ITSC', '2015-06-30T00:00:00')
('IUSZ', '2018-09-14T00:00:00')
('IVEC', '2015-06-08T00:00:00')
('IWVT', '2017-05-24T00:00:00')
('IZU', '2017-09-30T00:00:00')
('IZUS', '2018-10-20T00:00:00')
('IZUZ', '2015-04-05T00:00:00')
('JACU', '2017-01-25T00:00:00')
('JAG', '2016-09-10T00:00:00')
('JAGA', '2016-10-22T00:00:00')
('JAGR', '2014-07-11T00:00:00')
('JAGU', '2014-10-30T00:00:00')
('JAGY', '2014-09-21T00:00:00')
('JAJU', '2017-02-06T00:00:00')
('JAMB', '2015-04-25T00:00:00')
('JAME', '2018-05-18T00:00:00')
('JANC', '2015-07-20T00:00:00')
('JAQ', '2015-05-14T00:00:00')
('JAYC', '2016-10-07T00:00:00')
('JBBI', '2015-03-13T00:00:00')
('JBRE', '2017-12-21T00:00:00')
('JDB', '2018-02-21T00:00:00')
('JDBE', '2015-10-16T00:00:00')
('JDBT', '2015-06-01T00:00:00')
('JEED', '2017-09-10T00:00:00')
('JEEP', '2010-10-05T00:00:00')
('JENS', '2014-12-30T00:00:00')
('JETT', '2016-02-17T00:00:00')
('JGR', '2015-01-30T00:00:00')
('JIN', '2018-01-10T00:00:00')
('JIND', '2015-06-02T00:00:00')
('JMBO', '2018-10-16T00:00:00')
('JMBR', '2015-10-20T00:00:00')
('JMST', '2018-10-11T00:00:00')
('JNDD', '2018-03-16T00:00:00')
('JNDO', '2015-03-10T00:00:00')
('JONW', '2017-05-19T00:00:00')
('JOST', '2016-06-06T00:00:00')
('JOUG', '2018-04-12T00:00:00')
('JPEG', '2015-03-15T00:00:00')
('JRLC', '2018-09-05T00:00:00')
('JUAG', '2016-11-04T00:00:00')
('JYAL', '2018-10-13T00:00:00')
('JYNO', '2015-07-06T00:00:00')
('KAI', '2018-05-26T00:00:00')
('KANG', '2018-05-24T00:00:00')
('KARA', '2018-10-04T00:00:00')
('KAW', '2017-04-26T00:00:00')
('KAWA', '2014-10-30T00:00:00')
('KAWI', '2015-01-13T00:00:00')
('KAWK', '2014-11-03T00:00:00')
('KAWZ', '2017-10-04T00:00:00')
('KAYK', '2015-04-11T00:00:00')
('KEN', '2015-01-13T00:00:00')
('KENT', '2016-10-10T00:00:00')
('KENW', '2015-05-22T00:00:00')
('KEST', '2017-05-10T00:00:00')
('KEYE', '2018-03-18T00:00:00')
('KFOR', '2018-03-17T00:00:00')
('KIA', '2010-06-10T00:00:00')
('KING', '2017-02-12T00:00:00')
('KINR', '2016-03-22T00:00:00')
('KIT', '2017-08-16T00:00:00')
('KL', '2016-05-04T00:00:00')
('KMFR', '2015-12-07T00:00:00')
('KNGS', '2017-02-09T00:00:00')
('KNIG', '2017-12-13T00:00:00')
('KNTY', '2018-09-17T00:00:00')
('KNWT', '2016-01-16T00:00:00')
('KOMF', '2015-10-13T00:00:00')
('KOMI', '2015-09-10T00:00:00')
('KROM', '2015-04-05T00:00:00')
('KRYS', '2015-03-09T00:00:00')
('KSAK', '2018-05-21T00:00:00')
('KTKY', '2018-01-04T00:00:00')
('KTM', '2017-06-28T00:00:00')
('KURG', '2017-05-25T00:00:00')
('KW', '2014-11-01T00:00:00')
('KWAN', '2015-08-17T00:00:00')
('KWRD', '2016-10-08T00:00:00')
('KYK', '2015-06-16T00:00:00')
('KYMC', '2015-09-14T00:00:00')
('KYST', '2015-08-01T00:00:00')
('LADR', '2015-06-27T00:00:00')
('LAMB', '2015-04-29T00:00:00')
('LAMD', '2017-07-30T00:00:00')
('LAMO', '2014-12-29T00:00:00')
('LAN', '2015-01-08T00:00:00')
('LANC', '2017-06-01T00:00:00')
('LAND', '2014-02-25T00:00:00')
('LANR', '2017-03-15T00:00:00')
('LARA', '2015-01-28T00:00:00')
('LARE', '2015-06-15T00:00:00')
('LARP', '2015-02-25T00:00:00')
('LASB', '2018-03-09T00:00:00')
('LASE', '2015-12-26T00:00:00')
('LAYT', '2017-02-06T00:00:00')
('LAZD', '2017-12-20T00:00:00')
('LAZY', '2016-11-28T00:00:00')
('LBAZ', '2018-06-26T00:00:00')
('LBRS', '2017-04-23T00:00:00')
('LCHI', '2017-04-26T00:00:00')
('LCNC', '2017-12-23T00:00:00')
('LCNL', '2016-05-28T00:00:00')
('LDAZ', '2015-01-21T00:00:00')
('LDNR', '2017-10-01T00:00:00')
('LDRR', '2018-11-27T00:00:00')
('LDRV', '2015-04-10T00:00:00')
('LDVR', '2018-01-05T00:00:00')
('LE', '2015-11-01T00:00:00')
('LEGN', '2018-12-23T00:00:00')
('LEGR', '2015-03-14T00:00:00')
('LEIS', '2015-07-21T00:00:00')
('LEPR', '2015-07-06T00:00:00')
('LEX', '2016-03-13T00:00:00')
('LEXE', '2018-04-28T00:00:00')
('LEXI', '2016-09-07T00:00:00')
('LEXS', '2014-10-30T00:00:00')
('LEXU', '2014-02-10T00:00:00')
('LEXX', '2017-10-05T00:00:00')
('LGCH', '2018-01-08T00:00:00')
('LIBE', '2015-01-27T00:00:00')
('LIC', '2017-06-24T00:00:00')
('LIEB', '2015-12-23T00:00:00')
('LIMO', '2015-05-02T00:00:00')
('LIN', '2015-07-16T00:00:00')
('LINC', '2014-03-05T00:00:00')
('LIND', '2015-07-14T00:00:00')
('LINE', '2015-06-23T00:00:00')
('LINK', '2015-11-12T00:00:00')
('LINO', '2016-04-19T00:00:00')
('LJBR', '2016-11-07T00:00:00')
('LJR', '2017-08-23T00:00:00')
('LLFS', '2017-06-25T00:00:00')
('LMBO', '2015-12-20T00:00:00')
('LNAR', '2018-05-25T00:00:00')
('LNC', '2018-04-14T00:00:00')
('LNCE', '2017-09-11T00:00:00')
('LNCI', '2015-01-07T00:00:00')
('LNCL', '2018-10-23T00:00:00')
('LND', '2017-03-28T00:00:00')
('LNDA', '2018-03-25T00:00:00')
('LNDR', '2014-10-30T00:00:00')
('LNDZ', '2018-06-18T00:00:00')
('LNGR', '2018-06-16T00:00:00')
('LNQT', '2018-05-22T00:00:00')
('LNRV', '2016-10-14T00:00:00')
('LOAD', '2015-08-18T00:00:00')
('LOAZ', '2018-06-12T00:00:00')
('LODC', '2015-06-02T00:00:00')
('LONG', '2015-02-20T00:00:00')
('LOOK', '2015-09-05T00:00:00')
('LOTS', '2015-09-19T00:00:00')
('LOTU', '2016-05-03T00:00:00')
('LOZ', '2018-10-29T00:00:00')
('LR', '2015-06-06T00:00:00')
('LROV', '2014-10-23T00:00:00')
('LRVR', '2014-12-24T00:00:00')
('LUFK', '2018-03-02T00:00:00')
('LUHR', '2018-11-14T00:00:00')
('LUIK', '2015-06-15T00:00:00')
('LX', '2017-09-17T00:00:00')
('LXS', '2016-03-05T00:00:00')
('LXSS', '2018-02-01T00:00:00')
('LXU', '2018-08-28T00:00:00')
('LXUS', '2016-09-11T00:00:00')
('LXX', '2017-07-25T00:00:00')
('LZDZ', '2018-09-12T00:00:00')
('M/BN', '2017-08-19T00:00:00')
('MABA', '2018-09-17T00:00:00')
('MAC', '2017-03-23T00:00:00')
('MACA', '2017-07-17T00:00:00')
('MACK', '2014-11-01T00:00:00')
('MADA', '2016-05-07T00:00:00')
('MADZ', '2017-02-07T00:00:00')
('MAJE', '2015-05-09T00:00:00')
('MAKE', '2016-06-01T00:00:00')
('MALA', '2017-01-16T00:00:00')
('MALK', '2018-05-21T00:00:00')
('MALL', '2015-03-25T00:00:00')
('MALR', '2018-01-20T00:00:00')
('MARL', '2017-09-21T00:00:00')
('MAS', '2015-09-02T00:00:00')
('MASA', '2017-04-04T00:00:00')
('MASE', '2014-10-26T00:00:00')
('MASR', '2015-10-19T00:00:00')
('MASS', '2017-10-03T00:00:00')
('MAST', '2016-05-07T00:00:00')
('MASZ', '2017-04-20T00:00:00')
('MAT', '2017-02-28T00:00:00')
('MAUN', '2017-05-13T00:00:00')
('MAXD', '2018-04-17T00:00:00')
('MAYB', '2015-06-21T00:00:00')
('MAYF', '2018-03-12T00:00:00')
('MAZ', '2014-06-08T00:00:00')
('MAZA', '2018-01-10T00:00:00')
('MAZD', '2014-02-18T00:00:00')
('MAZE', '2016-02-16T00:00:00')
('MB', '2015-05-24T00:00:00')
('MBEN', '2017-02-19T00:00:00')
('MBEZ', '2016-11-06T00:00:00')
('MBNZ', '2014-03-11T00:00:00')
('MBTR', '2015-03-10T00:00:00')
('MBW', '2017-10-23T00:00:00')
('MBZ', '2016-04-29T00:00:00')
('MBZN', '2016-04-28T00:00:00')
('MC', '2017-04-12T00:00:00')
('MCCR', '2017-12-29T00:00:00')
('MCDS', '2015-03-17T00:00:00')
('MCI', '2015-04-06T00:00:00')
('MCIN', '2015-01-24T00:00:00')
('MCLA', '2016-09-11T00:00:00')
('MCOX', '2015-01-13T00:00:00')
('MDLN', '2018-04-01T00:00:00')
('MDZ', '2017-08-04T00:00:00')
('MECD', '2016-05-06T00:00:00')
('MECO', '2014-12-28T00:00:00')
('MECU', '2017-08-08T00:00:00')
('MECV', '2015-06-01T00:00:00')
('MECX', '2015-02-11T00:00:00')
('MED', '2017-01-27T00:00:00')
('MEDE', '2016-05-28T00:00:00')
('MEDU', '2018-09-06T00:00:00')
('MEID', '2017-10-12T00:00:00')
('MELA', '2014-12-17T00:00:00')
('MELO', '2016-02-26T00:00:00')
('MEM', '2015-08-03T00:00:00')
('MENZ', '2017-07-26T00:00:00')
('MER', '2015-02-13T00:00:00')
('MERA', '2018-12-27T00:00:00')
('MERB', '2016-09-18T00:00:00')
('MERC', '2014-10-12T00:00:00')
('MERD', '2016-03-29T00:00:00')
('MERK', '2014-11-01T00:00:00')
('MERL', '2018-10-13T00:00:00')
('MERQ', '2016-10-01T00:00:00')
('MERS', '2017-02-19T00:00:00')
('MERV', '2018-03-11T00:00:00')

('MERY', '2015-10-01T00:00:00')
('MERZ', '2010-10-20T00:00:00')
('MESC', '2015-10-10T00:00:00')
('METR', '2015-04-30T00:00:00')
('MEZ', '2012-12-17T00:00:00')
('MEZD', '2016-02-24T00:00:00')
('MG', '2015-10-21T00:00:00')
('MGM', '2016-01-10T00:00:00')
('MGR', '2017-02-18T00:00:00')
('MH', '2015-12-30T00:00:00')
('MIAI', '2016-01-25T00:00:00')
('MIAT', '2016-11-19T00:00:00')
('MICE', '2018-12-13T00:00:00')
('MID', '2015-08-17T00:00:00')
('MIDA', '2015-03-31T00:00:00')
('MIDS', '2017-06-01T00:00:00')
('MIHI', '2018-05-03T00:00:00')
('MILE', '2017-04-13T00:00:00')
('MILL', '2016-05-28T00:00:00')
('MIN', '2015-05-14T00:00:00')
('MINC', '2015-06-02T00:00:00')
('MINI', '2014-10-29T00:00:00')
('MINN', '2015-01-08T00:00:00')
('MINT', '2015-06-19T00:00:00')
('MIS', '2018-12-15T00:00:00')
('MISH', '2018-05-29T00:00:00')
('MISS', '2015-08-28T00:00:00')
('MIST', '2017-01-02T00:00:00')
('MISV', '2018-01-07T00:00:00')
('MIT', '2016-11-22T00:00:00')
('MITC', '2015-08-21T00:00:00')
('MITE', '2018-08-15T00:00:00')
('MITI', '2018-02-24T00:00:00')
('MITS', '2014-08-10T00:00:00')
('MITU', '2017-06-26T00:00:00')
('MITZ', '2014-12-21T00:00:00')
('MLAR', '2018-09-20T00:00:00')
('MLBL', '2015-05-29T00:00:00')
('MMI', '2016-10-15T00:00:00')
('MN', '2017-02-04T00:00:00')
('MNA', '2018-01-11T00:00:00')
('MNAC', '2017-01-30T00:00:00')
('MNB', '2015-04-18T00:00:00')
('MNBZ', '2018-03-14T00:00:00')
('MNCO', '2016-10-25T00:00:00')
('MNCP', '2015-06-03T00:00:00')
('MNI', '2018-08-13T00:00:00')
('MNIC', '2017-06-10T00:00:00')
('MNIT', '2018-11-08T00:00:00')
('MNM', '2015-12-02T00:00:00')
('MNMI', '2016-12-01T00:00:00')
('MNN', '2015-11-14T00:00:00')
('MNNI', '2014-10-31T00:00:00')
('MNNW', '2015-02-27T00:00:00')
('MNW', '2018-11-05T00:00:00')
('MNZ', '2018-02-06T00:00:00')
('MOBI', '2017-08-17T00:00:00')
('MODZ', '2017-06-19T00:00:00')
('MOHO', '2016-09-28T00:00:00')
('MOLO', '2018-02-28T00:00:00')
('MON', '2017-08-24T00:00:00')
('MONA', '2016-09-28T00:00:00')
('MONO', '2016-01-13T00:00:00')
('MONT', '2017-02-23T00:00:00')
('MORG', '2015-09-10T00:00:00')
('MORO', '2018-09-17T00:00:00')
('MOSS', '2017-10-17T00:00:00')
('MOTO', '2016-12-29T00:00:00')
('MRCB', '2018-08-13T00:00:00')
('MRCD', '2017-08-08T00:00:00')
('MRCE', '2018-11-05T00:00:00')
('MRCY', '2018-07-10T00:00:00')
('MRDE', '2017-05-30T00:00:00')
('MREC', '2016-02-06T00:00:00')
('MREZ', '2017-01-26T00:00:00')
('MRSC', '2015-10-27T00:00:00')
('MRTV', '2017-10-16T00:00:00')
('MRZ', '2015-03-31T00:00:00')
('MRZD', '2017-12-20T00:00:00')
('MSTC', '2017-09-17T00:00:00')
('MTS', '2017-11-25T00:00:00')
('MTSB', '2017-05-16T00:00:00')
('MTSI', '2016-03-05T00:00:00')
('MTZ', '2018-06-08T00:00:00')
('MUMN', '2017-10-02T00:00:00')
('MUN', '2017-05-05T00:00:00')
('MUNI', '2014-12-30T00:00:00')
('MURC', '2016-01-31T00:00:00')
('MUST', '2015-04-09T00:00:00')
('MV', '2015-12-01T00:00:00')
('MWWM', '2015-06-08T00:00:00')
('MWWN', '2015-05-04T00:00:00')
('MZA', '2018-02-26T00:00:00')
('MZB', '2017-05-11T00:00:00')
('MZBZ', '2017-04-08T00:00:00')
('MZD', '2016-10-10T00:00:00')
('MZDA', '2016-10-30T00:00:00')
('NABI', '2015-07-18T00:00:00')
('NASH', '2018-10-26T00:00:00')
('NATH', '2017-06-02T00:00:00')
('NATI', '2018-07-12T00:00:00')
('NAVI', '2018-11-02T00:00:00')
('NEON', '2017-04-12T00:00:00')
('NEOP', '2015-12-29T00:00:00')
('NEWF', '2015-05-28T00:00:00')
('NEWM', '2018-11-01T00:00:00')
('NEWN', '2018-02-12T00:00:00')
('NEWS', '2018-06-08T00:00:00')
('NIS', '2017-06-25T00:00:00')
('NISS', '2012-06-09T00:00:00')
('NNBG', '2015-05-30T00:00:00')
('NOMA', '2016-06-08T00:00:00')
('NPRT', '2015-08-06T00:00:00')
('NWFL', '2018-07-06T00:00:00')
('NWMR', '2016-11-09T00:00:00')
('ODEL', '2018-05-30T00:00:00')
('ODSE', '2018-10-23T00:00:00')
('ODYS', '2017-10-16T00:00:00')
('OLD', '2018-04-16T00:00:00')
('OLDS', '2014-05-24T00:00:00')
('OLDY', '2015-07-07T00:00:00')
('OLSM', '2018-05-22T00:00:00')
('OMEG', '2015-05-21T00:00:00')
('OPEN', '2017-12-12T00:00:00')
('OPNR', '2015-12-05T00:00:00')
('OPTI', '2016-06-07T00:00:00')
('ORIO', '2016-12-20T00:00:00')
('OSHK', '2015-05-12T00:00:00')
('OTAR', '2018-04-04T00:00:00')
('OTH', '2017-03-26T00:00:00')
('OTHE', '2015-02-14T00:00:00')
('OTHR', '2014-10-30T00:00:00')
('OTR', '2018-04-20T00:00:00')
('OVER', '2016-12-10T00:00:00')
('OVRL', '2017-08-23T00:00:00')
('PAC', '2018-01-15T00:00:00')
('PACE', '2015-02-08T00:00:00')
('PACI', '2016-04-21T00:00:00')
('PACK', '2015-01-31T00:00:00')
('PAMI', '2017-07-14T00:00:00')
('PARG', '2018-05-31T00:00:00')
('PARO', '2015-01-25T00:00:00')
('PARR', '2015-07-18T00:00:00')
('PASS', '2018-10-02T00:00:00')
('PATR', '2015-03-21T00:00:00')
('PB', '2015-05-28T00:00:00')
('PBLT', '2018-03-25T00:00:00')
('PCEA', '2016-09-18T00:00:00')
('PCH', '2018-05-07T00:00:00')
('PECE', '2017-06-06T00:00:00')
('PEOP', '2016-02-17T00:00:00')
('PET', '2016-03-09T00:00:00')
('PETE', '2014-12-18T00:00:00')
('PETR', '2015-02-01T00:00:00')
('PEUG', '2015-01-02T00:00:00')
('PHAE', '2017-02-25T00:00:00')
('PIAG', '2015-02-18T00:00:00')
('PIER', '2016-10-10T00:00:00')
('PINC', '2017-03-16T00:00:00')
('PINE', '2015-03-20T00:00:00')
('PINF', '2018-09-11T00:00:00')
('PINN', '2015-03-01T00:00:00')
('PION', '2017-09-07T00:00:00')
('PLMO', '2017-07-29T00:00:00')
('PLOM', '2015-03-31T00:00:00')
('PLY', '2018-06-13T00:00:00')
('PLYM', '2014-11-01T00:00:00')
('PLYT', '2018-06-04T00:00:00')
('PNCL', '2015-06-06T00:00:00')
('POCH', '2017-12-15T00:00:00')
('POLA', '2017-08-17T00:00:00')
('POMT', '2017-12-30T00:00:00')
('PONC', '2016-05-15T00:00:00')
('PONI', '2018-04-18T00:00:00')
('PONT', '2012-08-22T00:00:00')
('PONZ', '2015-06-02T00:00:00')
('POPC', '2018-01-05T00:00:00')
('POR', '2016-01-23T00:00:00')
('PORC', '2015-04-22T00:00:00')
('PORH', '2016-05-15T00:00:00')
('PORS', '2014-10-25T00:00:00')
('POUR', '2017-12-17T00:00:00')
('PPRO', '2017-10-03T00:00:00')
('PRAT', '2017-01-04T00:00:00')
('PRCH', '2016-03-19T00:00:00')
('PRE', '2018-11-27T00:00:00')
('PREM', '2015-09-16T00:00:00')
('PREO', '2015-02-07T00:00:00')
('PRES', '2015-10-05T00:00:00')
('PREU', '2017-07-25T00:00:00')
('PREV', '2015-03-26T00:00:00')
('PRIU', '2015-06-17T00:00:00')
('PRNN', '2017-09-08T00:00:00')
('PRNT', '2017-07-12T00:00:00')
('PROP', '2018-08-25T00:00:00')
('PROS', '2017-09-26T00:00:00')
('PROU', '2016-11-18T00:00:00')
('PROV', '2017-09-18T00:00:00')
('PROW', '2015-06-09T00:00:00')
('PRPO', '2016-09-10T00:00:00')
('PRQW', '2017-01-31T00:00:00')
('PRRO', '2015-01-27T00:00:00')
('PRRW', '2018-03-09T00:00:00')
('PRSH', '2018-05-31T00:00:00')
('PRTB', '2016-02-25T00:00:00')
('PRU', '2018-11-25T00:00:00')
('PRWL', '2017-09-07T00:00:00')
('PSSA', '2017-04-10T00:00:00')
('PTBL', '2015-03-30T00:00:00')
('PTBR', '2018-03-22T00:00:00')
('PTBT', '2015-01-18T00:00:00')
('PTCR', '2016-02-25T00:00:00')
('PTNB', '2016-10-12T00:00:00')
('PTRB', '2014-11-01T00:00:00')
('PVOS', '2015-07-03T00:00:00')
('PVR', '2017-02-07T00:00:00')
('PWNA', '2017-07-25T00:00:00')
('QUAN', '2015-07-25T00:00:00')
('QUST', '2015-02-10T00:00:00')
('R/R', '2015-05-30T00:00:00')
('RALL', '2015-05-14T00:00:00')
('RALY', '2018-03-15T00:00:00')
('RAM', '2015-07-08T00:00:00')
('RAME', '2018-06-29T00:00:00')
('RAMG', '2017-02-27T00:00:00')
('RAMP', '2015-04-12T00:00:00')
('RAN', '2017-01-16T00:00:00')
('RANG', '2014-10-21T00:00:00')
('RANH', '2015-09-23T00:00:00')
('RANR', '2015-05-09T00:00:00')
('RAV', '2018-04-27T00:00:00')
('RAWA', '2017-03-09T00:00:00')
('RBIN', '2018-05-15T00:00:00')
('RCKW', '2018-08-23T00:00:00')
('RDKM', '2016-04-03T00:00:00')
('RDRG', '2017-05-10T00:00:00')
('RDRN', '2016-07-27T00:00:00')
('RE', '2018-12-31T00:00:00')
('REDB', '2017-09-13T00:00:00')
('REIS', '2016-01-19T00:00:00')
('RELI', '2017-07-27T00:00:00')
('RENA', '2015-02-11T00:00:00')
('RENE', '2015-11-15T00:00:00')
('REO', '2016-11-23T00:00:00')
('RESD', '2017-03-04T00:00:00')
('RESI', '2017-05-10T00:00:00')
('REUC', '2017-09-05T00:00:00')
('REUN', '2018-04-11T00:00:00')
('REVC', '2015-03-28T00:00:00')
('REVG', '2016-04-17T00:00:00')
('REXA', '2017-08-03T00:00:00')
('REXH', '2016-05-16T00:00:00')
('RINI', '2018-03-14T00:00:00')
('RIVE', '2017-03-06T00:00:00')
('RLON', '2015-06-11T00:00:00')
('RMBL', '2016-05-28T00:00:00')
('RNG', '2016-03-31T00:00:00')
('RNGE', '2015-02-21T00:00:00')
('RNGR', '2015-09-20T00:00:00')
('RNOV', '2018-05-06T00:00:00')
('ROAD', '2015-02-16T00:00:00')
('ROBI', '2017-07-26T00:00:00')
('ROBM', '2018-10-08T00:00:00')
('ROBN', '2016-10-26T00:00:00')
('ROBV', '2017-11-22T00:00:00')
('ROCK', '2015-03-09T00:00:00')
('ROCN', '2018-12-31T00:00:00')
('RODE', '2015-01-09T00:00:00')
('ROEN', '2018-02-13T00:00:00')
('ROGU', '2016-06-09T00:00:00')
('ROKE', '2017-11-24T00:00:00')
('ROKW', '2018-11-28T00:00:00')
('ROL', '2014-10-31T00:00:00')
('ROLL', '2015-01-23T00:00:00')
('ROLS', '2015-02-24T00:00:00')
('RORO', '2015-01-23T00:00:00')
('ROSE', '2015-08-27T00:00:00')
('ROSI', '2017-03-05T00:00:00')
('ROUG', '2015-01-21T00:00:00')
('ROV', '2015-03-14T00:00:00')
('ROVE', '2014-12-26T00:00:00')
('ROVR', '2014-12-20T00:00:00')
('ROY', '2015-01-21T00:00:00')
('ROYA', '2016-09-30T00:00:00')
('RR', '2016-04-01T00:00:00')
('RROC', '2016-03-16T00:00:00')
('RROV', '2014-10-30T00:00:00')
('RROY', '2015-05-03T00:00:00')
('RRVR', '2015-02-09T00:00:00')
('RV', '2016-02-13T00:00:00')
('RVR', '2017-04-14T00:00:00')
('RVRG', '2017-05-24T00:00:00')
('RVTR', '2015-07-15T00:00:00')
('RYDE', '2016-05-21T00:00:00')
('SAA', '2014-10-31T00:00:00')
('SAAB', '2014-01-03T00:00:00')
('SABA', '2018-05-24T00:00:00')
('SABU', '2015-03-25T00:00:00')
('SABZ', '2017-10-13T00:00:00')
('SAF', '2017-11-28T00:00:00')
('SAFA', '2017-01-06T00:00:00')
('SAMC', '2018-10-15T00:00:00')
('SAND', '2017-04-12T00:00:00')
('SANP', '2015-06-25T00:00:00')
('SANT', '2017-10-18T00:00:00')
('SAT', '2016-09-15T00:00:00')
('SATN', '2015-06-09T00:00:00')
('SATO', '2016-12-28T00:00:00')
('SATR', '2015-06-01T00:00:00')
('SATU', '2014-01-13T00:00:00')
('SAVN', '2018-04-17T00:00:00')
('SAZU', '2018-07-11T00:00:00')
('SBRS', '2018-10-25T00:00:00')
('SBT', '2015-09-22T00:00:00')
('SCAM', '2017-12-21T00:00:00')
('SCFN', '2017-03-30T00:00:00')
('SCHI', '2017-12-13T00:00:00')
('SCI', '2017-04-01T00:00:00')
('SCIC', '2015-08-31T00:00:00')
('SCIM', '2018-02-27T00:00:00')
('SCIN', '2015-05-17T00:00:00')
('SCIO', '2014-09-28T00:00:00')
('SCOO', '2015-02-27T00:00:00')
('SCRS', '2018-11-27T00:00:00')
('SDCC', '2018-12-04T00:00:00')
('SEA', '2015-05-19T00:00:00')
('SEAB', '2015-05-20T00:00:00')
('SEAR', '2016-02-01T00:00:00')
('SEBR', '2016-04-15T00:00:00')
('SECU', '2015-07-27T00:00:00')
('SEMI', '2018-04-26T00:00:00')
('SENT', '2018-10-16T00:00:00')
('SETR', '2015-01-22T00:00:00')
('SFAR', '2018-08-13T00:00:00')
('SFRI', '2015-08-10T00:00:00')
('SFS', '2017-04-05T00:00:00')
('SGHK', '2018-03-09T00:00:00')
('SHAN', '2016-06-07T00:00:00')
('SHAS', '2015-02-02T00:00:00')
('SHEN', '2015-10-20T00:00:00')
('SHEW', '2018-04-12T00:00:00')
('SHOR', '2017-04-06T00:00:00')
('SHST', '2017-01-31T00:00:00')
('SHZN', '2015-12-04T00:00:00')
('SICO', '2018-09-15T00:00:00')
('SIER', '2016-09-27T00:00:00')
('SIL', '2018-08-15T00:00:00')
('SILV', '2017-09-27T00:00:00')
('SING', '2017-05-24T00:00:00')
('SION', '2015-06-12T00:00:00')
('SIZU', '2017-07-29T00:00:00')
('SJIN', '2015-01-09T00:00:00')
('SKMP', '2017-11-17T00:00:00')
('SKYL', '2017-07-24T00:00:00')
('SLF', '2015-11-10T00:00:00')
('SMAN', '2016-10-27T00:00:00')
('SMAR', '2014-12-06T00:00:00')
('SMAT', '2017-10-05T00:00:00')
('SMIT', '2015-01-06T00:00:00')
('SMRT', '2014-11-01T00:00:00')
('SMYN', '2015-09-02T00:00:00')
('SNCR', '2016-11-01T00:00:00')
('SNCS', '2016-05-06T00:00:00')
('SNCT', '2015-06-02T00:00:00')
('SNLI', '2018-11-30T00:00:00')
('SNLN', '2017-07-27T00:00:00')
('SNLS', '2018-03-21T00:00:00')
('SNQS', '2018-09-22T00:00:00')
('SNVG', '2017-06-20T00:00:00')
('SONA', '2017-09-18T00:00:00')
('SONC', '2017-01-17T00:00:00')
('SOUL', '2018-05-16T00:00:00')
('SOUT', '2015-05-22T00:00:00')
('SOWI', '2016-03-31T00:00:00')
('SPAR', '2015-05-01T00:00:00')
('SPCC', '2016-10-02T00:00:00')
('SPCH', '2016-12-31T00:00:00')
('SPCN', '2015-03-18T00:00:00')
('SPEC', '2015-01-13T00:00:00')
('SPMA', '2016-10-05T00:00:00')
('SPNR', '2017-12-22T00:00:00')
('SPOR', '2015-05-27T00:00:00')
('SPRA', '2015-07-25T00:00:00')
('SPRI', '2015-01-14T00:00:00')
('SPRN', '2015-06-23T00:00:00')
('SPRT', '2017-09-21T00:00:00')
('SPT', '2017-03-31T00:00:00')
('SRVY', '2017-01-17T00:00:00')
('SSPP', '2018-05-15T00:00:00')
('SSR', '2015-06-28T00:00:00')
('STAR', '2015-08-17T00:00:00')
('STB', '2015-08-15T00:00:00')
('STCK', '2014-12-30T00:00:00')
('STDH', '2015-08-11T00:00:00')
('STER', '2014-12-31T00:00:00')
('STHW', '2018-10-25T00:00:00')
('STKN', '2018-03-16T00:00:00')
('STLG', '2014-12-29T00:00:00')
('STOO', '2015-02-10T00:00:00')
('STOR', '2017-08-25T00:00:00')
('STOU', '2015-09-29T00:00:00')
('STRA', '2018-01-25T00:00:00')
('STRC', '2015-06-07T00:00:00')
('STRG', '2015-01-30T00:00:00')
('STRI', '2015-01-20T00:00:00')
('STRK', '2015-01-18T00:00:00')
('STRL', '2016-01-13T00:00:00')
('STRN', '2014-08-10T00:00:00')
('STRT', '2017-01-08T00:00:00')
('STU', '2015-03-30T00:00:00')
('STUD', '2017-01-15T00:00:00')
('SUB', '2016-01-04T00:00:00')
('SUBA', '2012-07-03T00:00:00')
('SUBR', '2016-10-13T00:00:00')
('SUBU', '2016-09-07T00:00:00')
('SUBY', '2015-05-15T00:00:00')
('SUKI', '2018-12-06T00:00:00')
('SULT', '2017-03-15T00:00:00')
('SUMG', '2018-07-24T00:00:00')
('SUN', '2016-11-02T00:00:00')
('SUNC', '2017-03-21T00:00:00')
('SUNL', '2015-06-30T00:00:00')
('SUNN', '2017-06-21T00:00:00')
('SUNR', '2018-10-02T00:00:00')
('SUNS', '2016-10-18T00:00:00')
('SUP', '2016-03-15T00:00:00')
('SUPD', '2018-03-27T00:00:00')
('SUPE', '2016-06-16T00:00:00')
('SUPO', '2017-04-06T00:00:00')
('SUPR', '2017-08-20T00:00:00')
('SURA', '2015-08-05T00:00:00')
('SURB', '2016-03-13T00:00:00')
('SUSK', '2018-11-08T00:00:00')
('SUSU', '2017-01-13T00:00:00')
('SUV', '2015-09-17T00:00:00')
('SUVS', '2018-01-17T00:00:00')
('SUZ', '2016-11-10T00:00:00')
('SUZI', '2014-11-01T00:00:00')
('SUZK', '2016-09-07T00:00:00')
('SUZU', '2014-10-23T00:00:00')
('SWEN', '2018-03-02T00:00:00')
('SWID', '2016-10-23T00:00:00')
('SWIN', '2015-05-04T00:00:00')
('SWMD', '2016-01-04T00:00:00')
('SWND', '2016-03-18T00:00:00')
('SYM', '2016-04-12T00:00:00')
('SYZH', '2018-03-29T00:00:00')
('TAHO', '2018-01-18T00:00:00')
('TAOT', '2014-10-11T00:00:00')
('TASL', '2017-04-10T00:00:00')
('TATA', '2018-12-03T00:00:00')
('TAUR', '2016-03-16T00:00:00')
('TAZH', '2014-10-12T00:00:00')
('TB', '2016-05-26T00:00:00')
('TE', '2017-08-24T00:00:00')
('TEIS', '2017-09-18T00:00:00')
('TELA', '2017-02-17T00:00:00')
('TELE', '2015-07-31T00:00:00')
('TELS', '2015-04-26T00:00:00')
('TERA', '2017-12-26T00:00:00')
('TERR', '2015-03-18T00:00:00')
('TERY', '2015-06-03T00:00:00')
('TES', '2015-10-19T00:00:00')
('TESA', '2017-04-01T00:00:00')
('TESC', '2017-09-28T00:00:00')
('TESI', '2015-09-18T00:00:00')
('TESL', '2014-10-26T00:00:00')
('TEST', '2017-05-25T00:00:00')
('TETR', '2018-05-09T00:00:00')
('THER', '2016-01-28T00:00:00')
('THET', '2014-12-16T00:00:00')
('THEU', '2014-12-29T00:00:00')
('THEV', '2017-06-20T00:00:00')
('THMA', '2017-12-13T00:00:00')
('THOM', '2015-02-20T00:00:00')
('THON', '2016-10-04T00:00:00')
('THOR', '2015-08-01T00:00:00')
('THT', '2015-08-14T00:00:00')
('THUN', '2015-07-30T00:00:00')
('TIAG', '2018-12-12T00:00:00')
('TIFF', '2018-07-12T00:00:00')
('TIIA', '2018-07-14T00:00:00')
('TIOC', '2015-09-16T00:00:00')
('TIOG', '2015-02-04T00:00:00')
('TIT', '2017-07-11T00:00:00')
('TITA', '2015-11-13T00:00:00')
('TIUS', '2017-05-01T00:00:00')
('TLGA', '2018-07-25T00:00:00')
('TLMR', '2018-03-08T00:00:00')
('TMEC', '2017-08-17T00:00:00')
('TONE', '2016-11-05T00:00:00')
('TONG', '2014-12-30T00:00:00')
('TOP', '2016-03-15T00:00:00')
('TORI', '2017-08-26T00:00:00')
('TOY', '2018-02-17T00:00:00')
('TOYB', '2015-07-27T00:00:00')
('TOYO', '2010-10-18T00:00:00')

('TOYOT', '2018-02-24T00:00:00')
('TOYT', '2014-10-30T00:00:00')
('TRAC', '2015-09-01T00:00:00')
('TRAI', '2015-06-24T00:00:00')
('TRAN', '2015-06-01T00:00:00')
('TRAV', '2015-06-17T00:00:00')
('TRBZ', '2017-08-17T00:00:00')
('TRI', '2016-02-12T00:00:00')
('TRIN', '2017-05-30T00:00:00')
('TRIS', '2015-11-23T00:00:00')
('TRIU', '2014-10-31T00:00:00')
('TRJY', '2015-01-18T00:00:00')
('TRK', '2017-08-09T00:00:00')
('TRLC', '2018-04-17T00:00:00')
('TRLM', '2015-08-01T00:00:00')
('TRLR', '2016-01-15T00:00:00')
('TROO', '2018-12-22T00:00:00')
('TROU', '2017-07-17T00:00:00')
('TRQN', '2015-02-04T00:00:00')
('TRQU', '2018-04-12T00:00:00')
('TRTT', '2017-09-13T00:00:00')
('TRUC', '2017-04-01T00:00:00')
('TRUM', '2015-01-18T00:00:00')
('TRUP', '2017-08-10T00:00:00')
('TRVC', '2017-01-06T00:00:00')
('TRVL', '2017-09-06T00:00:00')
('TRWS', '2016-09-27T00:00:00')
('TSHR', '2015-07-04T00:00:00')
('TSLA', '2015-01-14T00:00:00')
('TSLR', '2015-03-19T00:00:00')
('TSMR', '2014-10-31T00:00:00')
('TTC', '2017-07-03T00:00:00')
('TUFF', '2018-09-24T00:00:00')
('TUSC', '2016-06-14T00:00:00')
('TVLO', '2017-05-01T00:00:00')
('TXBR', '2016-03-03T00:00:00')
('TYPH', '2016-06-28T00:00:00')
('TZOL', '2018-03-18T00:00:00')
('UD', '2015-09-16T00:00:00')
('UHA', '2017-07-06T00:00:00')
('UHAU', '2015-01-12T00:00:00')
('UHU', '2018-08-02T00:00:00')
('UKN', '2015-05-02T00:00:00')
('ULTR', '2017-06-26T00:00:00')
('UN', '2018-08-17T00:00:00')
('UNIV', '2017-08-28T00:00:00')
('UNK', '2014-10-30T00:00:00')
('UNKN', '2017-01-18T00:00:00')
('UPS', '2015-06-17T00:00:00')
('UST', '2015-01-17T00:00:00')
('UTIL', '2015-01-16T00:00:00')
('UTL', '2017-08-25T00:00:00')
('UTLT', '2015-02-12T00:00:00')
('UTLY', '2017-09-07T00:00:00')
('VA', '2018-12-18T00:00:00')
('VACE', '2017-03-30T00:00:00')
('VALI', '2018-11-16T00:00:00')
('VAN', '2016-10-05T00:00:00')
('VANG', '2017-12-06T00:00:00')
('VANH', '2015-10-04T00:00:00')
('VANS', '2016-01-03T00:00:00')
('VCON', '2017-07-28T00:00:00')
('VELO', '2015-07-08T00:00:00')
('VER', '2017-04-30T00:00:00')
('VERO', '2015-06-10T00:00:00')
('VESP', '2015-11-05T00:00:00')
('VGMD', '2017-05-22T00:00:00')
('VICT', '2017-09-19T00:00:00')
('VINN', '2017-05-18T00:00:00')
('VINO', '2017-02-13T00:00:00')
('VINT', '2018-10-07T00:00:00')
('VISI', '2017-10-20T00:00:00')
('VISO', '2018-05-27T00:00:00')
('VISP', '2018-05-26T00:00:00')
('VKLS', '2018-06-16T00:00:00')
('VLKS', '2016-12-08T00:00:00')
('VLSG', '2018-08-25T00:00:00')
('VN', '2015-07-21T00:00:00')
('VNEE', '2016-11-29T00:00:00')
('VNER', '2018-02-22T00:00:00')
('VOGU', '2014-12-19T00:00:00')
('VOL', '2016-02-16T00:00:00')
('VOLK', '2011-11-07T00:00:00')
('VOLV', '2012-10-06T00:00:00')
('VOUK', '2018-06-09T00:00:00')
('VW', '2013-07-06T00:00:00')
('WAB', '2016-04-12T00:00:00')
('WABA', '2015-03-10T00:00:00')
('WABH', '2017-06-21T00:00:00')
('WABS', '2017-03-16T00:00:00')
('WAJR', '2017-07-17T00:00:00')
('WANC', '2015-02-01T00:00:00')
('WARR', '2016-02-05T00:00:00')
('WBAG', '2018-08-07T00:00:00')
('WBBG', '2018-01-14T00:00:00')
('WBGO', '2015-03-22T00:00:00')
('WCN', '2018-07-19T00:00:00')
('WECO', '2017-09-13T00:00:00')
('WEE', '2017-02-02T00:00:00')
('WELC', '2017-09-29T00:00:00')
('WELL', '2017-09-25T00:00:00')
('WEST', '2017-08-24T00:00:00')
('WH', '2016-03-17T00:00:00')
('WHI', '2017-02-23T00:00:00')
('WHIT', '2015-01-14T00:00:00')
('WHT', '2015-05-13T00:00:00')
('WILD', '2017-03-16T00:00:00')
('WILL', '2018-04-22T00:00:00')
('WILS', '2016-03-24T00:00:00')
('WINA', '2017-03-26T00:00:00')
('WINB', '2016-03-30T00:00:00')
('WIND', '2015-06-13T00:00:00')
('WINE', '2017-09-14T00:00:00')
('WINN', '2014-11-02T00:00:00')
('WINO', '2016-06-14T00:00:00')
('WMBG', '2016-12-13T00:00:00')
('WNBG', '2015-01-18T00:00:00')
('WNBO', '2017-04-30T00:00:00')
('WNDE', '2017-01-11T00:00:00')
('WNEG', '2017-08-25T00:00:00')
('WNES', '2015-06-03T00:00:00')
('WNGB', '2018-08-10T00:00:00')
('WNNE', '2015-05-08T00:00:00')
('WNSS', '2017-08-28T00:00:00')
('WOND', '2018-01-05T00:00:00')
('WORH', '2016-03-02T00:00:00')
('WORK', '2015-09-26T00:00:00')
('WORL', '2017-10-03T00:00:00')
('WRAN', '2015-01-06T00:00:00')
('WRKH', '2017-01-26T00:00:00')
('WRRC', '2015-04-11T00:00:00')
('XL', '2017-03-03T00:00:00')
('XLSP', '2018-10-22T00:00:00')
('YAM', '2016-09-29T00:00:00')
('YAMA', '2014-11-03T00:00:00')
('YAMH', '2017-08-22T00:00:00')
('YANB', '2018-01-16T00:00:00')
('YONG', '2018-03-30T00:00:00')
('ZEIM', '2018-09-18T00:00:00')
('ZEMA', '2018-06-21T00:00:00')
('ZHEN', '2018-07-11T00:00:00')
('ZHNG', '2016-06-16T00:00:00')
('ZHON', '2016-06-01T00:00:00')
('ZIEM', '2015-01-02T00:00:00')
('ZIEN', '2018-07-01T00:00:00')
('ZNEN', '2016-09-24T00:00:00')
('ZZ', '2016-12-10T00:00:00')

time =  2.8536233909835573

### Pandas

In [25]:
time1 = timeit.default_timer()

filt = ~df['Make'].isnull()
df2 = df.loc[ filt, ['Make','Issue_Date','Issue_Date_new'] ]

y = df2.groupby(['Make'])['Issue_Date_new'].agg('min').reset_index()
print(y)

time2 = timeit.default_timer()
print("\ntime = ", (time2 - time1) )

      Make Issue_Date_new
0     AAUD     2018-07-13
1     AAVH     2018-03-29
2     ABAR     2016-09-15
3      ABC     2016-05-10
4     ABRI     2017-04-18
5      ACC     2015-12-23
6     ACCR     2018-02-12
7     ACCU     2015-04-07
8     ACDI     2017-12-01
9      ACG     2016-03-15
10    ACOR     2018-03-07
11    ACRA     2016-12-04
12    ACRU     2018-08-22
13     ACU     2016-12-19
14    ACUA     2016-11-29
15    ACUR     2010-06-09
16    ADIA     2016-06-02
17    ADVE     2016-11-01
18    AERO     2017-07-14
19    AFLA     2018-03-01
20    AIRB     2018-10-16
21    AIRE     2016-01-27
22    AIRS     2015-02-12
23    AIRX     2015-02-11
24    AJAX     2015-05-21
25    ALAX     2015-02-23
26    ALEG     2017-09-10
27    ALER     2015-03-15
28    ALFA     2014-11-02
29    ALGR     2016-12-23
...    ...            ...
1447  WNBO     2017-04-30
1448  WNDE     2017-01-11
1449  WNEG     2017-08-25
1450  WNES     2015-06-03
1451  WNGB     2018-08-10
1452  WNNE     2015-05-08
1453  WNSS     2017-08-28
1454  WOND     2018-01-05
1455  WORH     2016-03-02
1456  WORK     2015-09-26
1457  WORL     2017-10-03
1458  WRAN     2015-01-06
1459  WRKH     2017-01-26
1460  WRRC     2015-04-11
1461    XL     2017-03-03
1462  XLSP     2018-10-22
1463   YAM     2016-09-29
1464  YAMA     2014-11-03
1465  YAMH     2017-08-22
1466  YANB     2018-01-16
1467  YONG     2018-03-30
1468  ZEIM     2018-09-18
1469  ZEMA     2018-06-21
1470  ZHEN     2018-07-11
1471  ZHNG     2016-06-16
1472  ZHON     2016-06-01
1473  ZIEM     2015-01-02
1474  ZIEN     2018-07-01
1475  ZNEN     2016-09-24
1476    ZZ     2016-12-10

[1477 rows x 2 columns]

time =  1.3903973890119232

### Results:  SQLite 2.85s / Pandas 1.39s

# EXTRA Problem -------------------------------------------------------

### Appears to be California data.  So "out of state" means non-CA license plates.  I say this because counts are high for CA plates, and street addresses include famous CA streets.  Latitude/Longitude are in non-standard format...

In [26]:
# (It's easy to compute the mapping bertween standard Longitude/Latitude and what they're using (GPS?).)

In [27]:
# Only look at Make != null
filt = ~df['Make'].isnull() & ~df['RP_State_Plate'].isnull() & ~df['Plate_Expiry_Date'].isnull()
df3 = df.loc[ filt, ['RP_State_Plate','Issue_Date','Issue_Date_new','Plate_Expiry_Date'] ]
df3.head(10)

   RP_State_Plate           Issue_Date Issue_Date_new  Plate_Expiry_Date
4              CA  2015-09-15T00:00:00     2015-09-15           200316.0
6              CA  2015-12-17T00:00:00     2015-12-17           201605.0
10             CA  2015-12-22T00:00:00     2015-12-22           201511.0
11             CA  2015-12-22T00:00:00     2015-12-22           201701.0
14             CA  2015-12-27T00:00:00     2015-12-27           201605.0
19             CA  2015-12-22T00:00:00     2015-12-22           201606.0
21             CA  2015-12-18T00:00:00     2015-12-18           201509.0
22             CA  2015-12-18T00:00:00     2015-12-18           201511.0
25             CA  2015-12-22T00:00:00     2015-12-22           201610.0
29             CA  2015-12-22T00:00:00     2015-12-22           201601.0

In [28]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3960997 entries, 4 to 8726013
Data columns (total 4 columns):
RP_State_Plate       object
Issue_Date           object
Issue_Date_new       datetime64[ns]
Plate_Expiry_Date    float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 151.1+ MB

In [29]:
# get rid of decimal part
df3['Plate_Expiry_Date'] = df3['Plate_Expiry_Date'].astype(int).astype(str)

In [30]:
# practice
#"201902"[0:4]  #year
#"201902"[4:6]  #month

In [31]:
# This is one way to count the number of times the date is incorrectly formatted
df3['Expiry_month'] = df3['Plate_Expiry_Date'].apply(lambda x: x[4:6] if len(x)==6 else "0" )
df3['Expiry_year'] = df3['Plate_Expiry_Date'].apply(lambda x: x[0:4] if len(x)==6 else "0" )

In [32]:
df3['Expiry_month'] = df3['Expiry_month'].astype(int)
df3['Expiry_year'] = df3['Expiry_year'].astype(int)

In [33]:
df3.head(10)

,RP_State_Plate,Issue_Date,Issue_Date_new,Plate_Expiry_Date,Expiry_month,Expiry_year
4,CA,2015-09-15T00:00:00,2015-09-15,200316,16,2003
6,CA,2015-12-17T00:00:00,2015-12-17,201605,5,2016
10,CA,2015-12-22T00:00:00,2015-12-22,201511,11,2015
11,CA,2015-12-22T00:00:00,2015-12-22,201701,1,2017
14,CA,2015-12-27T00:00:00,2015-12-27,201605,5,2016
19,CA,2015-12-22T00:00:00,2015-12-22,201606,6,2016
21,CA,2015-12-18T00:00:00,2015-12-18,201509,9,2015
22,CA,2015-12-18T00:00:00,2015-12-18,201511,11,2015
25,CA,2015-12-22T00:00:00,2015-12-22,201610,10,2016
29,CA,2015-12-22T00:00:00,2015-12-22,201601,1,2016

In [34]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3960997 entries, 4 to 8726013
Data columns (total 6 columns):
RP_State_Plate       object
Issue_Date           object
Issue_Date_new       datetime64[ns]
Plate_Expiry_Date    object
Expiry_month         int64
Expiry_year          int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 211.5+ MB

In [35]:
filt2 = (df3['Expiry_month'] > 0) & (df3['Expiry_month'] < 13) & (df3['Expiry_year'] > 2000) & (df3['Expiry_year'] < 2040)
df4 = df3.loc[ filt2 ].copy()
df4.head(10)

,RP_State_Plate,Issue_Date,Issue_Date_new,Plate_Expiry_Date,Expiry_month,Expiry_year
6,CA,2015-12-17T00:00:00,2015-12-17,201605,5,2016
10,CA,2015-12-22T00:00:00,2015-12-22,201511,11,2015
11,CA,2015-12-22T00:00:00,2015-12-22,201701,1,2017
14,CA,2015-12-27T00:00:00,2015-12-27,201605,5,2016
19,CA,2015-12-22T00:00:00,2015-12-22,201606,6,2016
21,CA,2015-12-18T00:00:00,2015-12-18,201509,9,2015
22,CA,2015-12-18T00:00:00,2015-12-18,201511,11,2015
25,CA,2015-12-22T00:00:00,2015-12-22,201610,10,2016
29,CA,2015-12-22T00:00:00,2015-12-22,201601,1,2016
30,CA,2015-12-22T00:00:00,2015-12-22,201601,1,2016

In [36]:
#df4._is_view, df4._is_copy
df4.shape

(3663555, 6)

In [37]:
df4['Expiry_new'] = pd.to_datetime( df4['Plate_Expiry_Date'], format="%Y%m" )
df4.head(10)

,RP_State_Plate,Issue_Date,Issue_Date_new,Plate_Expiry_Date,Expiry_month,Expiry_year,Expiry_new
6,CA,2015-12-17T00:00:00,2015-12-17,201605,5,2016,2016-05-01
10,CA,2015-12-22T00:00:00,2015-12-22,201511,11,2015,2015-11-01
11,CA,2015-12-22T00:00:00,2015-12-22,201701,1,2017,2017-01-01
14,CA,2015-12-27T00:00:00,2015-12-27,201605,5,2016,2016-05-01
19,CA,2015-12-22T00:00:00,2015-12-22,201606,6,2016,2016-06-01
21,CA,2015-12-18T00:00:00,2015-12-18,201509,9,2015,2015-09-01
22,CA,2015-12-18T00:00:00,2015-12-18,201511,11,2015,2015-11-01
25,CA,2015-12-22T00:00:00,2015-12-22,201610,10,2016,2016-10-01
29,CA,2015-12-22T00:00:00,2015-12-22,201601,1,2016,2016-01-01
30,CA,2015-12-22T00:00:00,2015-12-22,201601,1,2016,2016-01-01

In [38]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3663555 entries, 6 to 8726013
Data columns (total 7 columns):
RP_State_Plate       object
Issue_Date           object
Issue_Date_new       datetime64[ns]
Plate_Expiry_Date    object
Expiry_month         int64
Expiry_year          int64
Expiry_new           datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 223.6+ MB

### Now compute probabilities...

In [39]:
# number in CA
num_CA = (df4['RP_State_Plate'] == 'CA').sum()
num_CA

3443360

In [40]:
# number NOT in CA
num_notCA = (df4['RP_State_Plate'] != 'CA').sum()
num_notCA

220195

In [41]:
# number w/ expired plates at time of ticket, registered in CA
filt3 = (df4['Issue_Date_new'] > df4['Expiry_new']) & (df4['RP_State_Plate'] == 'CA')
df5 = df4.loc[ filt3 ]
num_CA_expired = df5.shape[0]
num_CA_expired

756920

In [42]:
# number w/ expired plates at time of ticket, NOT registered in CA
filt3 = (df4['Issue_Date_new'] > df4['Expiry_new']) & (df4['RP_State_Plate'] != 'CA')
df5 = df4.loc[ filt3 ]
num_notCA_expired = df5.shape[0]
num_notCA_expired

51664

In [43]:
# Probability for a CA driver to have expired plates at time of ticket
num_CA_expired / (1.0*num_CA)

0.2198201756423958

In [44]:
# Probability for a non-CA driver to have expired plates at time of ticket
num_notCA_expired / (1.0*num_notCA)

0.2346283975567111

### Conclusion: wrt ticketing in CA, more likely for a non-CA driver to have expired plates

In [45]:
# This difference is likely "significant", since the counts are high.  Easy to check, if desired.

In [ ]:
# TO DO: check that license plates are valid (compare to a list with valid abbreviations)